<!-- Block groupswitch module -->
<!-- 	<div id="groupswitch-block-top" class="groupswitch-block">
				<div class="current">
					<span>{$gs_current_name}</span>
				</div>
		<ul id="first-groupswitch" class="groupswitch-block_ul toogle_content">
				<li class="selected">
						<a href="#" title="{$gs_switch_name}" class="gs-switch gs-{$gs_switch_label}gs-b2b" data-gs-type="{$gs_switch_label}">
						<span>{$gs_switch_name}</span>
					</a>
				</li>
		</ul>
	</div> -->
<!-- /Block groupswitch module -->
