div.flashsale
{
    width:100%;
    background-color:#dddbdc;
    height:207px;
    margin-bottom: 10px;
}

div.slider
{
    margin : auto;
    background: url('ban.jpg');
    width:535px;
}
div.img2
{
    background: url('ban2.jpg');
}
div.img3
{
    background: url('ban3.jpg');
}
div.slider ul, div.slider li{
	margin:0;
	padding:0;
	list-style:none;
	}
div.slider li{
	overflow:hidden;
}

#time
{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}
img.imgSlide
{
    position: relative;
    z-index: 2;
}

div.sliderBlock
{
    width:190px;
    height:180px;
    margin : auto;
    background: url('banBlock.png');
}
div.imgBlock2
{
     background: url('banBlock2.png');
}
div.imgBlock3
{
     background: url('banBlock3.png');
}
div.sliderBlock ul, div.sliderBlock li{
	margin:0;
	padding:0;
	list-style:none;
    height:180px;
	position: relative;
    z-index: 2;
	}
div.sliderBlock li{
	overflow:hidden;
}

div.timeBlock
{
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}
div.timeBlock2
{
    font-size: 15px;
    position: relative;
    text-align: center;
}
#block
{
    height: 166px;
    margin:0;
    padding: 0;
}
div.timerBlock
{
     /*background: url('bandeau.png');*/
    font-size: 13px;
    font-weight: bold;
    text-align:center;
    width : 100%;
}
/*div.imgTime2
{
    background: url('bandeau2.png');
}
div.imgTime3
{
    background: url('bandeau3.png');
}*/
#timeProduct
{
    font-size: 13px;
    font-weight: bold;
}
