<table width="660" border="0" cellspacing="0" cellpadding="0">
        <tr>
                <td width="620" colspan="3">
                        <img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="15" width="10" style="display:block" />
                        <span style="font-size:12px; color:#%HEADER_FONT_COLOR%">
                                        Si vous ne voulez plus recevoir de message de %SHOP_NAME%, nous vous invitons à exercer vos droits de diffusion 
                                        %UNSUBSCRIBE_OPEN_LINK%
                                       <span style="color:#%TITLE_FONT_COLOR%"><b> en cliquant ici.</b></span>
                                        %UNSUBSCRIBE_CLOSE_LINK%
                                </span>
                        <br/><br/>
                </td>
        </tr>
</table>


