<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="MAIN_C">
        <tbody>
                <tr>
                        <td bgcolor="#%HEADER_BACKGROUND_COLOR%" width="40%"></td>
                        <td bgcolor="#%HEADER_BACKGROUND_COLOR%" width="20%">
                                <table style="width: 660px;" border="0" cellspacing="0" cellpadding="0" bgcolor="#%HEADER_BACKGROUND_COLOR%">
                                        <tbody>
                                                <tr>
                                                        <td align="left" width="515">
                                                                <span style="font-family: Arial; font-size: 12px;  color:#%HEADER_FONT_COLOR%">
                                                                        Vous pouvez 
                                                                                %RMD_OPEN_LINK%<span style="color:#%TITLE_FONT_COLOR%"><b>cliquer ici</b></span>%RMD_CLOSE_LINK%
                                                                        si cet email n'est pas affiché correctement 
                                                                </span>
                                                        </td>
                                                        <td align="right" width="145">
                                                                <span style="font-family: Arial; font-size: 10pt;">
                                                                        <b><a href="mailto:%SHOP_MAIL%"><span style="color:#%TITLE_FONT_COLOR%">Nous contacter</span></a></b>
                                                                </span>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </td>
                        <td bgcolor="#%HEADER_BACKGROUND_COLOR%" width="40%"> </td>
                </tr>
        </tbody>
</table>
<!-- Header -->
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="#%MAIN_COLOR%">
        <tbody>
                <tr>
                <td width="40%"> </td>
                <td width="20%">
                        <table style="width: 660px;" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                        <tr>
                                                <td colspan="2" width="660" height="10"><img style="display: block;" src="%CARTABANDONMENT_IMG%/p.png" alt="" width="660" height="5" /></td>
                                        </tr>
                                </tbody>
                        </table>
                        <table style="width: 660px;" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                        <tr>
                                                <td align="left">%SHOP_OPEN_LINK%<img style="display: block; border: none;" src="%SHOP_LOGO%" alt="" %LOGO_SIZE% />%SHOP_OPEN_LINK%</td>
                                                <td align="right">
                                                        <span style="color: #%HEADER_BACKGROUND_COLOR%; font-family: Arial; font-size: 8pt;">
                                                                <span style="font-size: 12px;"> Id client: 
                                                                        <span style="color: #%TITLE_FONT_COLOR%;">
                                                                                <strong>%ID_CUSTOMER%</strong>
                                                                        </span>
                                                                </span>
                                                        </span>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                </td>
                <td width="40%"> </td>
                </tr>
        </tbody>
</table>
