<table style="width: 620px;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
                <tr>
                        <td colspan="8">
                                <span style="color: #%TITLE_FONT_COLOR%; font-family: Arial,Verdana,sans-serif; font-size: 12pt;">
                                        <span style="font-size: 18px;">
                                                <strong>
                                                        <span id="result_box" class="short_text" lang="en">
                                                                <span class="hps">100% satisfaction garantie : </span>
                                                </strong>
                                        </span>
                                </span>
                                <img style="display: block;" src="%CARTABANDONMENT_IMG%/p.png" alt="" width="20" height="15" />
                        </td>
                </tr>
                <tr>
                <td align="center" width="60"><img src="%CARTABANDONMENT_IMG%/delivery.png" alt="" width="49" height="49" /></td>
                <td width="92"><span style="color: #%BODY_FONT_COLOR%; font-family: Arial,Verdana,sans-serif; font-size: 10pt;"><strong>Livraison<br/>Rapide</strong></span></td>
                <td align="center" width="60"><img src="%CARTABANDONMENT_IMG%/payment.png" alt="" width="49" height="49" /></td>
                <td width="92"><span style="color: #%BODY_FONT_COLOR%; font-family: Arial,Verdana,sans-serif; font-size: 10pt;"><strong>Paiement<br/>Sécurisé</strong></span></td>
                <td align="center" width="60"><img src="%CARTABANDONMENT_IMG%/smiley.png" alt="" width="49" height="49" /></td>
                <td width="92"><span style="color: #%BODY_FONT_COLOR%; font-family: Arial,Verdana,sans-serif; font-size: 10pt;"><strong>Satisfait<br/>Ou remboursé</strong></span></td>
                <td align="center" width="60"><img src="%CARTABANDONMENT_IMG%/SAV.png" alt="" width="49" height="49" /></td>
                <td width="92"><span style="color: #%BODY_FONT_COLOR%; font-family: Arial,Verdana,sans-serif; font-size: 10pt;"><strong>Service<br />Après-vente</strong></span></td>
                </tr>
                <tr>
                <td colspan="8"><img style="display: block;" src="%CARTABANDONMENT_IMG%/p.png" alt="" width="20" height="15" /> <span style="color: #%BODY_FONT_COLOR%; font-family: Arial,Helvetica,sans-serif; font-size: 10pt;">Profitez de vos achats en toute confiance!</span></td>
                </tr>
        </tbody>
</table>