<div class="wishlist">
	<a class="addToWishlist wishlistProd_{$product.id_product|intval} btn" href="#" rel="{$product.id_product|intval}" onclick="WishlistCart('wishlist_block_list', 'add', '{$product.id_product|intval}', false, 1); return false;" title="{l s='Add to Wishlist' mod='blockwishlist'}"><i class="fa fa-heart fa-2x"></i>
	</a>
</div>