
					<table style="font-family:Verdana, sans-serif;font-size:11px;color:#374953;width:550px;"><tr><td align="left">
				<a href="{shop_url}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" /></a>
			</td>
</tr><tr><td> </td></tr><tr><td align="left">Bonjour,</td>
</tr><tr><td> </td></tr><tr><td align="left" style="background-color:#DB3484;color:#FFF;font-size:12px;font-weight:bold;padding:.5em 1em;">Rapport d'erreur à partir de votre module PayPalAPI</td>
</tr><tr><td> </td></tr><tr><td align="left">
				<b>Un client a rencontré un problème avec le module PayPalAPI:</b>
			</td>
</tr><tr><td> </td></tr><tr><td align="left">
				{logs}
			</td>
</tr><tr><td> </td></tr><tr><td align="center" style="font-size:10px;border-top:1px solid #D9DADE;">
				<a href="{shop_url}" style="color:#DB3484;font-weight:bold;text-decoration:none;">{shop_name}</a> propulsé par <a href="http://www.prestashop.com/" style="text-decoration:none;color:#374953;">PrestaShop™</a>
			</td>
</tr></table>