<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>%TITLE%</title>
<style type="text/css" media="screen">
{literal}
*{padding:0; margin:0;}
a{text-decoration:none;}
img{border:none;}
a:hover{text-decoration:underline;}
li{list-style:none;}
{/literal}
</style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" bgcolor="#%MAIN_COLOR%">
<table cellspacing="0" border="0"  bgcolor="MAIN_COLOR%" style="margin: 0; padding: 0; border: 0;" width="100%" cellpadding="0">
	<tr>
		<td align="center">
			%HEADER%
                        
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#%MAIN_COLOR%">
                                <tr>
                                        <td width="40%">&nbsp;

                                        </td>
                                        <td width="20%">
                                                <table width="662" height="20"  border="0" cellspacing="0" cellpadding="0" bgcolor="#%MAIN_COLOR%" style="border :1px solid #b3b3b3;border-bottom:none;">
                                                        <tr>
                                                                <td width="20">
                                                                        <img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
                                                                </td>
                                                                <td width="622" valign="middle" colspan="3">
                                                                        <img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
                                                                </td>
                                                                <td width="20">
                                                                        <img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
                                                                </td>
                                                        </tr>
                                                </table>
                                        </td>
                                        <td width="40%">&nbsp;

                                        </td>
                                </tr>
                        </table>
					<!-- Block separation-->
					<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7" height="1" >
						<tr>
							<td width="40%" style="border-top:1px solid #cccccc;">&nbsp;
								
							</td>
							<td width="20%">
								<table width="662" height="5"  border="0" cellspacing="0" cellpadding="0" bgcolor="#%MAIN_COLOR%" style="border :1px solid #b3b3b3;border-top:none;border-bottom:none;">
									<tr>
										<td width="20" style="border-top:1px solid #%MAIN_COLOR%;">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block;" />
										</td>
										<td width="622" style="border-top:1px solid #%MAIN_COLOR%;" colspan="3">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="620" style="display:block" />
										</td>
										<td width="20" style="border-top:1px solid #%MAIN_COLOR%;">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
									</tr>
								</table>
							</td>
							<td width="40%" style="border-top:1px solid #cccccc">&nbsp;
									
							</td>
						</tr>
					</table>
					<!-- Content-->
					<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7">
						<tr>
							<td width="40%">&nbsp;</td>
							<td width="20%">
								<table width="660" height="60" border="0" cellspacing="0" cellpadding="0" bgcolor="#%MAIN_COLOR%" style="border :1px solid #b3b3b3;border-bottom:none;border-top:none;">
									<tr>
										<td width="20">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
										<td width="620" valign="top">
											<table width="620" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td width="165" valign="top">%LEFT_COLUMN%</td>
													<td width="455" valign="top" style="color:#%BODY_FONT_COLOR%;">
														%BODY%
                                                                                                                %DISCOUNT_TEXT%
                                                                                                                %CONCLUSION%
													</td>
												</tr>
											</table>
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="35" width="20" style="display:block" />
											<img src="%CARTABANDONMENT_IMG%/dotted_line.png"/>
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="30" width="30" style="display:block" />	

										<table width="620" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tr>
                                                                                                <td colspan="7">
                                                                                                        <font face="Arial, Verdana, sans-serif" size="3" color="#%TITLE_FONT_COLOR%"><span style="font-size:18px;"><b>%TEXT_CART_CONTENT%</b></span></font>
                                                                                                        <img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="15" width="20" style="display:block" />
                                                                                                </td>
                                                                                        </tr>
											%CART_CONTENT%
										</table>
                                                                                <!-- x bonnes raisons... -->
											%SERVICES%
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="30" width="30" style="display:block" />
											<img src="%CARTABANDONMENT_IMG%/dotted_line.png">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="30" width="30" style="display:block" />
										</td>
										<td width="20">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
									</tr>
								</table>
							</td>
							<td width="40%">&nbsp;</td>
						</tr>
					</table>
			<!-- Footer -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#%HEADER_BACKGROUND_COLOR%">
						<tr>
							<td width="40%">&nbsp;</td>
							<td width="20%">
								<table width="660" height="40"  border="0" cellspacing="0" cellpadding="0" bgcolor="#%MAIN_COLOR%" style="border :1px solid #b3b3b3;border-top:none;">
									<tr>
										<td width="20">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
										<td width="620" valign="middle" colspan="3">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="25" width="620" style="display:block" />
										</td>
										<td width="20">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
									</tr>
								</table>
							</td>
							<td width="40%">&nbsp;</td>
						</tr>
					</table>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#%HEADER_BACKGROUND_COLOR%">
						<tr>
							<td width="40%">&nbsp;</td>
							<td width="20%">
								<table width="660" border="0" cellspacing="0" cellpadding="0" bgcolor="#%HEADER_BACKGROUND_COLOR%">
									<tr>
										<td width="20">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
										<td width="620" colspan="3">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
										<td width="20">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
									</tr>
								</table>
                                                                %FOOTER%
								<table width="660" border="0" cellspacing="0" cellpadding="0" bgcolor="#%HEADER_BACKGROUND_COLOR%">
									<tr>
										<td width="20">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
										<td width="620" colspan="3">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
										<td width="20">
											<img src="%CARTABANDONMENT_IMG%/p.png" alt="" height="20" width="20" style="display:block" />
										</td>
									</tr>
								</table>
							</td>
							<td width="40%">&nbsp;</td>
						</tr>
					</table>
		</td>
	</tr>
</table>
</body>
</html>