/* Top hook CSS */
@media (max-width: 767px) {
  #htmlcontent_top ul {
    margin-bottom: 0; } }
#htmlcontent_top ul li {
  padding-bottom: 50px; }
  @media (max-width: 1199px) {
    #htmlcontent_top ul li {
      padding-bottom: 30px; } }
  #htmlcontent_top ul li a {
    position: relative;
    display: block;
    overflow: hidden; }
    #htmlcontent_top ul li a img {
      width: 100%;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      max-width: 100%;
      height: auto; }
    #htmlcontent_top ul li a .item-html {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #htmlcontent_top ul li a h2 {
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
#htmlcontent_top ul .htmlcontent-item-old {
  padding: 0 0 50px 0;
  width: 35.02%; }
  @media (max-width: 1199px) {
    #htmlcontent_top ul .htmlcontent-item-old {
      width: 34.76%;
      padding-bottom: 30px; } }
  @media (max-width: 991px) {
    #htmlcontent_top ul .htmlcontent-item-old {
      width: 34.5%; } }
  @media (max-width: 767px) {
    #htmlcontent_top ul .htmlcontent-item-old {
      display: none; } }
  @media (max-width: 480px) {
    #htmlcontent_top ul .htmlcontent-item-old {
      display: block;
      width: 100%;
      padding: 0 15px 30px; } }
  #htmlcontent_top ul .htmlcontent-item-old a:hover img {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  #htmlcontent_top ul .htmlcontent-item-old a:hover h2 {
    color: #b38870; }
  #htmlcontent_top ul .htmlcontent-item-old a .item-html {
    position: absolute;
    top: 6%;
    left: 9.5%; }
  #htmlcontent_top ul .htmlcontent-item-old a h2 {
    font: 400 41px/46px "Lato", sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: white; }
    @media (max-width: 991px) {
      #htmlcontent_top ul .htmlcontent-item-old a h2 {
        font: 400 28px/34px "Lato", sans-serif; } }
    @media (max-width: 480px) {
      #htmlcontent_top ul .htmlcontent-item-old a h2 {
        font: 400 36px/41px "Lato", sans-serif; } }
#htmlcontent_top ul .htmlcontent-item-1 {
  clear: both;
  padding-bottom: 10px; }
  @media (min-width: 1199px) {
    #htmlcontent_top ul .htmlcontent-item-1 a:hover .item-html {
      left: 6%; } }
  #htmlcontent_top ul .htmlcontent-item-1 a:hover h2 {
    color: #b38870; }
  #htmlcontent_top ul .htmlcontent-item-1 a .item-html {
    position: absolute;
    width: 42%;
    top: 28.5%;
    left: 48.5%;
    text-transform: uppercase;
    color: white; }
    @media (max-width: 1199px) {
      #htmlcontent_top ul .htmlcontent-item-1 a .item-html {
        top: 12%; } }
    @media (max-width: 767px) {
      #htmlcontent_top ul .htmlcontent-item-1 a .item-html {
        left: 47%;
        top: 19%; } }
    @media (max-width: 480px) {
      #htmlcontent_top ul .htmlcontent-item-1 a .item-html {
        left: 10.5%; } }
  #htmlcontent_top ul .htmlcontent-item-1 a h2 {
    font: 400 55px/57px "Lato", sans-serif;
    margin: 0 0 18px;
    padding: 0;
    text-transform: uppercase; }
    @media (max-width: 991px) {
      #htmlcontent_top ul .htmlcontent-item-1 a h2 {
        font: 400 30px/37px "Lato", sans-serif; } }
    @media (max-width: 480px) {
      #htmlcontent_top ul .htmlcontent-item-1 a h2 {
        font: 400 24px/30px "Lato", sans-serif; } }
  #htmlcontent_top ul .htmlcontent-item-1 a p {
    font: 400 17px/26px "Lato", sans-serif; }
    @media (max-width: 767px) {
      #htmlcontent_top ul .htmlcontent-item-1 a p {
        display: none; } }
#htmlcontent_top ul .htmlcontent-item-3 a {
  background: url(../../../../img/bg-baner3.jpg) 0 0/100% no-repeat; }
#htmlcontent_top ul .htmlcontent-item-4 a {
  background: url(../../../../img/bg-baner4.jpg) 0 0/100% no-repeat; }
#htmlcontent_top ul .htmlcontent-item-5 a {
  background: url(../../../../img/bg-baner5.jpg) 0 0/100% no-repeat; }
#htmlcontent_top ul .htmlcontent-item-3,
#htmlcontent_top ul .htmlcontent-item-4,
#htmlcontent_top ul .htmlcontent-item-5 {
  padding-bottom: 35px; }
  @media (max-width: 480px) {
    #htmlcontent_top ul .htmlcontent-item-3,
    #htmlcontent_top ul .htmlcontent-item-4,
    #htmlcontent_top ul .htmlcontent-item-5 {
      width: 100%; } }
  #htmlcontent_top ul .htmlcontent-item-3 a .item-wrap,
  #htmlcontent_top ul .htmlcontent-item-4 a .item-wrap,
  #htmlcontent_top ul .htmlcontent-item-5 a .item-wrap {
    position: absolute;
    bottom: 2.2%;
    left: 5.5%;
    color: black;
    padding-right: 45px; }
    @media (max-width: 991px) {
      #htmlcontent_top ul .htmlcontent-item-3 a .item-wrap,
      #htmlcontent_top ul .htmlcontent-item-4 a .item-wrap,
      #htmlcontent_top ul .htmlcontent-item-5 a .item-wrap {
        padding-right: 5px;
        bottom: 5.2%; } }
    @media (max-width: 480px) {
      #htmlcontent_top ul .htmlcontent-item-3 a .item-wrap,
      #htmlcontent_top ul .htmlcontent-item-4 a .item-wrap,
      #htmlcontent_top ul .htmlcontent-item-5 a .item-wrap {
        bottom: 7.2%; } }
  #htmlcontent_top ul .htmlcontent-item-3 a img,
  #htmlcontent_top ul .htmlcontent-item-4 a img,
  #htmlcontent_top ul .htmlcontent-item-5 a img {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #htmlcontent_top ul .htmlcontent-item-3 a span,
  #htmlcontent_top ul .htmlcontent-item-4 a span,
  #htmlcontent_top ul .htmlcontent-item-5 a span {
    color: white;
    font: 400 19px/24px "Roboto", sans-serif;
    position: absolute;
    top: 3.8%;
    left: 5.5%;
    padding: 2px 6px 6px;
    background: #b38870;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 991px) {
      #htmlcontent_top ul .htmlcontent-item-3 a span,
      #htmlcontent_top ul .htmlcontent-item-4 a span,
      #htmlcontent_top ul .htmlcontent-item-5 a span {
        font-size: 15px; } }
    @media (max-width: 767px) {
      #htmlcontent_top ul .htmlcontent-item-3 a span,
      #htmlcontent_top ul .htmlcontent-item-4 a span,
      #htmlcontent_top ul .htmlcontent-item-5 a span {
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 3px;
        top: 82%; } }
    @media (max-width: 480px) {
      #htmlcontent_top ul .htmlcontent-item-3 a span,
      #htmlcontent_top ul .htmlcontent-item-4 a span,
      #htmlcontent_top ul .htmlcontent-item-5 a span {
        top: 3.8%;
        font-size: 14px;
        line-height: 20px; } }
  #htmlcontent_top ul .htmlcontent-item-3 a h2,
  #htmlcontent_top ul .htmlcontent-item-4 a h2,
  #htmlcontent_top ul .htmlcontent-item-5 a h2 {
    text-transform: uppercase;
    font: 400 25px/33px "Lato", sans-serif;
    margin-bottom: 4px; }
    @media (max-width: 991px) {
      #htmlcontent_top ul .htmlcontent-item-3 a h2,
      #htmlcontent_top ul .htmlcontent-item-4 a h2,
      #htmlcontent_top ul .htmlcontent-item-5 a h2 {
        font: 400 24px/28px "Lato", sans-serif; } }
    @media (max-width: 991px) {
      #htmlcontent_top ul .htmlcontent-item-3 a h2,
      #htmlcontent_top ul .htmlcontent-item-4 a h2,
      #htmlcontent_top ul .htmlcontent-item-5 a h2 {
        font: 400 17px/23px "Lato", sans-serif; } }
    @media (max-width: 767px) {
      #htmlcontent_top ul .htmlcontent-item-3 a h2,
      #htmlcontent_top ul .htmlcontent-item-4 a h2,
      #htmlcontent_top ul .htmlcontent-item-5 a h2 {
        display: none; } }
    @media (max-width: 480px) {
      #htmlcontent_top ul .htmlcontent-item-3 a h2,
      #htmlcontent_top ul .htmlcontent-item-4 a h2,
      #htmlcontent_top ul .htmlcontent-item-5 a h2 {
        display: block;
        font: 400 20px/27px "Lato", sans-serif; } }
  #htmlcontent_top ul .htmlcontent-item-3 a p,
  #htmlcontent_top ul .htmlcontent-item-4 a p,
  #htmlcontent_top ul .htmlcontent-item-5 a p {
    font: 400 12px/18px "Roboto", sans-serif; }
    @media (max-width: 1199px) {
      #htmlcontent_top ul .htmlcontent-item-3 a p,
      #htmlcontent_top ul .htmlcontent-item-4 a p,
      #htmlcontent_top ul .htmlcontent-item-5 a p {
        display: none; } }
  @media (min-width: 1199px) {
    #htmlcontent_top ul .htmlcontent-item-3 a:hover img,
    #htmlcontent_top ul .htmlcontent-item-4 a:hover img,
    #htmlcontent_top ul .htmlcontent-item-5 a:hover img {
      -moz-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1); } }
  #htmlcontent_top ul .htmlcontent-item-3 a:hover span,
  #htmlcontent_top ul .htmlcontent-item-4 a:hover span,
  #htmlcontent_top ul .htmlcontent-item-5 a:hover span {
    background: #333333; }

/* Left hook CSS */
/* Right hook CSS */
/* Footer hook CSS */
.scancube-main-spin-div img {
  height: 350px !important; 
}