#index #page span.img-bg span.mask {
  background: rgba(64, 54, 55, 0.5); }

header:after {
  background: rgba(64, 54, 55, 0.5); }

.user_info li a:hover {
  background: #dcb454; }

#languages-block-top div.current:hover, #languages-block-top div.current.active, #languages-block-top div.current.active strong, #languages-block-top div.current:hover strong, #languages-block-top div.current:hover:after, #languages-block-top div.current.active:after,
#currencies-block-top div.current:hover,
#currencies-block-top div.current.active,
#currencies-block-top div.current.active strong,
#currencies-block-top div.current:hover strong,
#currencies-block-top div.current:hover:after,
#currencies-block-top div.current.active:after {
  color: #c09736; }

#header #block_top_menu #block_top_wrap {
  background: #92290f; }
  @media (max-width: 767px) {
    #header #block_top_menu #block_top_wrap {
      background: none; } }
#header .sf-menu ul {
  background: #92290f; }
#header .sf-menu > li {
  border-right: 1px solid #a8543f; }
  #header .sf-menu > li:first-child {
    border-left: 1px solid #a8543f; }
    @media (max-width: 767px) {
      #header .sf-menu > li:first-child {
        border: none; } }
  #header .sf-menu > li > a:after {
    background: #dcb454; }
  #header .sf-menu > li > ul > li > a:hover {
    color: #dcb454; }
  @media (max-width: 767px) {
    #header .sf-menu > li {
      border: none; } }
#header .sf-menu li li li a {
  color: #dcb454; }
  #header .sf-menu li li li a:hover {
    color: white; }
#header .cat-title {
  background: #92290f; }
  #header .cat-title:hover, #header .cat-title.active {
    background: #702411; }
@media (max-width: 767px) {
  #header .sf-menu {
    background: #92290f; } }
@media (max-width: 991px) {
  #header .sf-menu > li.sfHover > a,
  #header .sf-menu > li > a:hover,
  #header .sf-menu > li.sfHoverForce > a {
    background: #702411; } }

.shopping_cart > a:first-child {
  background: #dcb454; }
  .shopping_cart > a:first-child:before {
    color: #e5c77f; }
  .shopping_cart > a:first-child:hover:before {
    color: #92290f; }

.cart_block .cart-buttons .btn {
  background: #ae882c; }
  .cart_block .cart-buttons .btn span {
    background: #dcb454; }
  .cart_block .cart-buttons .btn:hover span {
    background: #c09736; }

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #dcb454; }

#htmlcontent_top ul .htmlcontent-item-1 a:hover h2,
#htmlcontent_top ul .htmlcontent-item-2 a:hover h2 {
  color: #dcb454; }
#htmlcontent_top ul .htmlcontent-item-3 a span,
#htmlcontent_top ul .htmlcontent-item-4 a span,
#htmlcontent_top ul .htmlcontent-item-5 a span {
  background: #dcb454; }

#home-page-tabs > li.active a,
#home-page-tabs > li a:hover {
  color: #dcb454; }

.price-percent-reduction {
  background: #92290f; }

.price.product-price {
  color: #dcb454; }

.product-name {
  color: #dcb454; }

.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
  background: #dcb454; }

.btn.ajax_add_to_cart_button,
.btn.ajax_add_to_cart_product_button {
  background: #dcb454; }
  .btn.ajax_add_to_cart_button:after,
  .btn.ajax_add_to_cart_product_button:after {
    background: #c09736; }
  .btn.ajax_add_to_cart_button:hover, .btn.ajax_add_to_cart_button:active, .btn.ajax_add_to_cart_button:focus,
  .btn.ajax_add_to_cart_product_button:hover,
  .btn.ajax_add_to_cart_product_button:active,
  .btn.ajax_add_to_cart_product_button:focus {
    background: #dcb454; }
    @media (max-width: 991px) {
      .btn.ajax_add_to_cart_button:hover, .btn.ajax_add_to_cart_button:active, .btn.ajax_add_to_cart_button:focus,
      .btn.ajax_add_to_cart_product_button:hover,
      .btn.ajax_add_to_cart_product_button:active,
      .btn.ajax_add_to_cart_product_button:focus {
        background: #c09736; } }

.wrap_lnk_view .btn.lnk_view {
  background: #92290f; }
  .wrap_lnk_view .btn.lnk_view:hover {
    background: #92290f; }
    @media (max-width: 991px) {
      .wrap_lnk_view .btn.lnk_view:hover {
        background: #702411; } }
  .wrap_lnk_view .btn.lnk_view:before {
    background: #702411; }

.top-pagination-content ul.pagination li > a:hover,
.top-pagination-content ul.pagination li > a:focus,
.bottom-pagination-content ul.pagination li > a:hover,
.bottom-pagination-content ul.pagination li > a:focus {
  background: #dcb454; }

#cmsinfo_block li em {
  background: rgba(220, 180, 84, 0.7); }

#cmsinfo_block p strong {
  color: #dcb454; }

.footer-container {
  background-size: cover; }
  .footer-container span.mask {
    background: rgba(64, 54, 55, 0.5); }
  .footer-container #footer a {
    color: #dcb454; }
  .footer-container #footer h4 a:hover {
    color: #dcb454; }
  .footer-container #footer #block_contact_infos > div ul li i {
    color: #dcb454; }
  .footer-container #footer #block_contact_infos > div ul li > span a {
    color: #dcb454; }
  .footer-container #footer #newsletter_block_left .form-group .btn-sm {
    color: #dcb454; }
