{include file="$tpl_dir./errors.tpl"}
{if isset($category)}
	{if $category->id AND $category->active}
    	{if $scenes || $category->description || $category->id_image}
			<div class="content_scene_cat">
            	 {if $scenes}
                 	<div class="content_scene">
                        <!-- Scenes -->
                        {include file="$tpl_dir./scenes.tpl" scenes=$scenes}
                        {if $category->description}
                            <div class="cat_desc rte">
                            {if Tools::strlen($category->description) > 350}
                                <div id="category_description_short">{$description_short}</div>
                                <div id="category_description_full" class="unvisible">{$category->description}</div>
                                <a href="{$link->getCategoryLink($category->id_category, $category->link_rewrite)|escape:'html':'UTF-8'}" class="lnk_more">{l s='More'}</a>
                            {else}
                                <div>{$category->description}</div>
                            {/if}
                            </div>
                        {/if}
                        </div>
                    {else}
                    <!-- Category image -->
                    <div class="content_scene_cat_bg row">
                    	{*
                        {if $category->id_image}
                        <div class="category-image hidden-xs col-xs-12 col-sm-5 col-md-4 col-lg-3">
                        	<img class="img-responsive" src="{$link->getCatImageLink($category->link_rewrite, $category->id_image, 'tm_home_default')|escape:'html':'UTF-8'}" alt="{$category->name|escape:'html':'UTF-8'}" />
                        </div>
                        {/if}
                        *}
                        {if $category->description}
                            <div class="cat_desc  col-xs-12">
                            {*
                            <span class="category-name">
                                {strip}
                                    {$category->name|escape:'html':'UTF-8'}
                                    {if isset($categoryNameComplement)}
                                        {$categoryNameComplement|escape:'html':'UTF-8'}
                                    {/if}
                                {/strip}
                            </span>
                            *}
                            {if Tools::strlen($category->description) > 350}
                                <div id="category_description_short" class="rte">{$description_short}</div>
                                <div id="category_description_full" class="unvisible rte">{$category->description}</div>
                            {else}
                                <div class="rte">{$category->description}</div>
                            {/if}
                            </div>
                        {/if}
                     </div>
                  {/if}
            </div>
		{/if}
		<h1 class="page-heading{if (isset($subcategories) && !$products) || (isset($subcategories) && $products) || !isset($subcategories) && $products} product-listing{/if}">
        	<span class="cat-name">{$category->name|escape:'html':'UTF-8'}{if isset($categoryNameComplement)}&nbsp;{$categoryNameComplement|escape:'html':'UTF-8'}{/if}</span>
            {include file="$tpl_dir./category-count.tpl"}
        </h1>

        {if isset($subcategories)}
        {if (isset($display_subcategories) && $display_subcategories eq 1) || !isset($display_subcategories)}
		<!-- Subcategories -->
		<div id="subcategories" class="container">
			<!-- <p class="subcategory-heading">{l s='Subcategories'}</p> -->
            <div class="row">
			{foreach from=$subcategories item=subcategory}
            <div class="col-md-6">
                <div class="subcategory container">
                    <div class="col-md-6">
                        <h4>
                            <a class="subcategory-name" href="{$link->getCategoryLink($subcategory.id_category, $subcategory.link_rewrite)|escape:'html':'UTF-8'}" title="{$subcategory.name|truncate:50:'...'|escape:'html':'UTF-8'|truncate:50}">{$subcategory.name|truncate:50:'...'|escape:'html':'UTF-8'|truncate:350}
                            </a>
                        </h4>
                        {if isset($subcategory.children)}
                        <div class="subcategory-children">
                        {foreach from=$subcategory.children item=catchild name=catchilds}
                        {if $smarty.foreach.catchilds.index < 7}
                          <a class="subcategory-child-name" href="{$link->getCategoryLink($catchild.id_category, $catchild.link_rewrite)|escape:'html':'UTF-8'}" title="{$catchild.name|truncate:25:'...'|escape:'html':'UTF-8'|truncate:30}">{$catchild.name|truncate:30:'...'|escape:'html':'UTF-8'|truncate:30}
                          </a>
                          {/if}
                        {/foreach}
                        </div>
                        {/if}
                    </div>
                    <div class="col-md-6 subcategory-image">
                        <a href="{$link->getCategoryLink($subcategory.id_category, $subcategory.link_rewrite)|escape:'html':'UTF-8'}" title="{$subcategory.name|escape:'html':'UTF-8'}" class="img">
                            {if $subcategory.id_image}
                                <img class="replace-2x img-responsive" src="{$link->getCatImageLink($subcategory.link_rewrite, $subcategory.id_image, 'tm_home_default')|escape:'html':'UTF-8'}" alt="{$subcategory.name|escape:'html':'UTF-8'}" />
                            {else}
                                <img class="replace-2x img-responsive" src="{$img_cat_dir}default-medium_default.jpg" alt="{$subcategory.name|escape:'html':'UTF-8'}" />
                            {/if}
                        </a>
                    </div>
                </div>
            </div>
            {/foreach}
            </div>
		</div>
        {/if}
		{/if}

        {if $products}
			<div class="content_sortPagiBar clearfix">
            	<div class="sortPagiBar clearfix">
            		{include file="./product-sort.tpl"}
                	{include file="./nbr-product-page.tpl"}
				</div>
                <div class="top-pagination-content clearfix">
                	{include file="./product-compare.tpl"}
					{include file="$tpl_dir./pagination.tpl"}
                </div>
			</div>
			{include file="./product-list.tpl" products=$products}
			<div class="content_sortPagiBar">
				<div class="bottom-pagination-content clearfix">
					{include file="./product-compare.tpl" paginationId='bottom'}
                    {include file="./pagination.tpl" paginationId='bottom'}
				</div>
			</div>
		{/if}
	{elseif $category->id}
		<p class="alert alert-warning">{l s='This category is currently unavailable.'}</p>
	{/if}
{/if}
