.image_banner p{
  position: absolute;
  bottom: 5%;
  padding: 15px;
}
.respl-tabs-wrap {
    border-bottom: 1px solid rgba(69, 67, 67, 0);
    position: relative;
        padding: 0px;
}
.respl-tabs-wrap .respl-tabs{
	/*position:absolute;
	right:0px;
	bottom:-1px;*/
	float: right;
	padding-right: 5px;
	list-style: none;
}
.respl-tabs-wrap h2.cat-name-tab{
	
    font-size: 120%;
    text-transform: uppercase;
    color: #D3D8D2;
	    padding-left: 5px;
}
.tab-home-left .respl-tabs-wrap h2.cat-name-tab{
	background-color: #272727;
    border-bottom: none;
    padding: 8px 15px;
    display: inline-block;
    color: #fff;
}
.static-image-left {
    margin-bottom: 40px;
	position:relative;
}
.static-image-left .robin-sale {
    left: -6px;
    position: absolute;
    top: -5px;
}
.slider-tab-listing .control-button{
	position:relative;
}
.slider-tab-listing .control-button .prev_tablist,
.slider-tab-listing .control-button .next_tablist{
	top: -68px;
    z-index: 999;
	position:absolute;
	width:39px;
	height:39px;
	background-color:#ffffff;
	border:1px solid #dbdbdb;
	border-radius:3px;
	background-repeat:no-repeat;
	background-position:16px 15px;
	overflow:hidden;
	text-indent:-9999px;
	cursor:pointer;
	-moz-transition: background-color .2s;
	-webkit-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
.slider-tab-listing .control-button .prev_tablist:hover,
.slider-tab-listing .control-button .next_tablist:hover{
	background-position:16px -76px;
}

.slider-tab-listing .vpo-wrap .vp{
	margin-left:0px!important;
}
.slider-tab-listing .container-slider .slider{
	padding-right:0px!important;
}

ul li.respl-tab >.active {
	background: red;
}
.respl-items .active {
	background: red;
}
.respl-items-container01 >.active {
display: inline-block !important;
}
.yt-tab-listing .respl-items-container >.active {
display: block !important;
position: relative;
  top: 0px;
}
/*.respl-items{
//display: none;
}*/

.respl-items{ position: absolute;
  top: -5000px;
  display: block!important;
}

ul.product_list.grid > li.first-in-line{
	clear: none;

}
.bx-viewport .featured-news{
	    margin: auto;
}