.custom_blocks12 {
border-radius: 5px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
border: 2px solid #fff;
display: inline-block;

}
.margin-1 {
margin-top: 10px;
margin-bottom: 10px;
}
.custom_blocks .tt-box, .custom_blocks .tt-box a {
text-transform: uppercase;
font: 18px/20px 'Oswald', sans-serif;
font-weight: normal;
margin: 0 auto;
display: block;
 padding-right: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    display: inline-block;
    background-color: rgba(22, 21, 21, 0.93);
}


  
  @media (max-width: 767px) {
    .custom_blocks {
      border: 2px solid #fff;
          border-radius: 5px 0px 0px 5px;
      	 }
	.custom_blocks .tt-box{
  	border: none;
  	background-color: rgba(22, 21, 21, 0.93);	
  	} 
  }

      

.alpha{
	border-left: 2px solid #fff;
	    border-radius: 5px 0px 0px 5px;
}
.omega{
	border-right: 2px solid #fff;
	    border-radius: 0px 5px 5px 0px;
}
.omega>li {
	border: none!important;
} 

.custom_blocks .tt-box .inside {
-moz-transition: all 1s 0s linear;
-o-transition: all 1s 0s linear;
-webkit-transition: all 1s 0s linear;
overflow: hidden;
  border-right: 2px solid #333;
}
.custom_blocks .tt-box .icon_circle {
text-align: center;
float: left;
margin-right: 5px;
}
.custom_blocks .tt-box .icon_circle i {
	font-size:34px;
	height:62px;
	width: 62px;
	padding:1px 0 0;
	margin:0;
	vertical-align:middle;
	display:table-cell;
	-moz-transition: font-size 0.1s 0s ease;
	-o-transition: font-size 0.1s 0s ease;
	-webkit-transition: font-size 0.1s 0s ease;
}
.custom_blocks .tt-box .icon_circle.dark i {
	color:#fff;
}
.custom_blocks .tt-box .icon_circle.light i {
	color:#444;
}
.custom_blocks .tt-box:hover .icon_circle i {
	font-size:40px;
	-moz-transition: all 0.2s 0s ease;
	-o-transition: all 0.2s 0s ease;
	-webkit-transition: all 0.2s 0s ease;
	color: #FFF;
}
.custom_blocks .tt-box .text {
    display: inline;
    line-height: 25px;
    vertical-align: middle;
}
.animate-delay{
padding: 15px 10px !important;
color: rgb(255, 120, 0);
}
.text_align{
	display: table-cell;
	vertical-align: middle;
}
.custom_blocks .tt-box .icon_circle.dark {
border-radius: 50%;
background: none repeat scroll 0% 0% #640A45 ;
}
.custom_blocks .tt-box .icon_circle.light {
background: url(../img/icon_light.png) no-repeat;
}

.delet_Error {
  background: url("../../pibblublockinfolinks/img/icon-cancel.png") no-repeat scroll 6px 6px #f590a1;
  border: 1px solid #f191a7;
  border-radius: 3px;
  color: #1f1515;
  font-size: 15px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin: 0 0 10px;
  min-height: 28px;
  padding: 13px 5px 5px 51px;
  width: 40%;
}