.image_banner ul .col-md-4 {
padding: 5px 5px 5px 5px;
}

img .lazyItem:not(.loaded) {
    visibility: hidden;
}
img.loaded {
    padding: 20px 0;
    background: none;
}
img.loading {
    background: url("../img/loading.gif") no-repeat center bottom;
}
img.loading-first {
    background: url("../img/loading.gif") no-repeat center 50px;
}
img.loaded .lazyItem {
    visibility: visible;
}



.image_banner ul .one {
  display: inline-block;
  padding: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image_banner div .one {
padding: 5px 5px 5px 5px;
}
.image_banner div .vertical{
width: 100%;
}
.image_banner div .col-xs-12{
display: inline-block;
padding: 5px 5px 5px 5px;
}
.image_banner div .col-xs-9 {
display: inline-block;

padding: 5px 5px 5px 5px;
}
.image_banner div .col-xs-6{
display: inline-block;

padding: 5px 5px 5px 5px;
}
.image_banner div .col-xs-3 {
display: inline-block;

padding: 5px 5px 5px 5px;
}
.image_banner div .col-xs-4 {
display: inline-block;

padding: 5px 5px 5px 5px;
}

.image_banner{
      padding-bottom: 10px;
    padding-top: 10px;
}

.image_first{

    padding: 5px 5px 5px 0px!important;
}
.image_last{
   padding: 5px 0px 5px 5px!important;
}

.image_banner .img-responsive {
    border-radius: 3px;
        height: 100%;
}
.lof-featured h3.featured-title {
    background: rgba(251, 250, 250, 0);
    color: rgb(255, 120, 0);
	margin: 0;
    padding: 12px;
	text-transform: uppercase;
	font: 600 21px/24px "Open Sans", sans-serif;
	font-weight: normal;
	
}
.responsive-img {
    max-width: 100%;
}
.lof-featured .lof-pager {
    padding: 13px;
	height: 0px;
    position: absolute;
    right: 60px;
    top: -38px;
}
.lof-pager a {
    background: url("images/miscellaneous_sprite.png") no-repeat scroll 0 -300px transparent;
    display: inline-block;
    height: 15px;
    margin: 0 5px 0 0;
    width: 15px;
}
.lof-pager a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.lof-pager a span {
    display: none;
}
.lof-featured{
  margin-bottom: 10px;
}
.list-featured {
	
}
.list-featured > ul {
    display: block;
    height: 100%;
    list-style: none outside none;
    margin: 0;
   
}
.list-featured ul li {
    display: block;
    float: left;
}

.list-featured ul li .featured-item {
    margin-left: 11px;
    margin-right: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
    border-radius: 8px;
}
.entry-content .entry-price-discount{
  font-style: italic;
}
.entry-content .entry-price {
  font-size: 16px;
  color: #cb4d4d;
  font-weight: bold;
  padding-top: 3px;
}
.list-featured ul li h4 {
  margin-bottom: 3px;
  font-size: 12px;
}
.list-featured ul li h4 a {
    color: #000000;
    display: block;
    height: 15px;
    overflow: hidden;
}

.list-featured ul li h4 a:hover {
  text-decoration: none;
  color: #3B77BF;
}
.list-featured ul li p {

	overflow: hidden;
}
.list-featured.responsive {
	
	position: relative;
	  border-top: none;
}

.list-featured .featured-nav {
        /*padding: 10px;
position: absolute;
right: -17px;
top: -36px;
z-index: 100;*/
  position: absolute;
  top: 26%;
  z-index: 99;
  width: 25px;
  height: 35px;
  display: inline-block;
  border: 1px solid #DBDBDB;
  background-color: #FFF;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
  transition: background-color 0.2s ease 0s;

}
.list-featured .featured-nav a {
    outline: medium none;
    text-decoration: none;
    padding-right: 15px;
}

.featured-item .black-overlay {
    background: none repeat scroll 0 0 #000000;
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 0.3;
    width: 100%;
}
.list-featured .next{
    right: 0px;
}
.featured-item a.lof-add-cart span{
    background-color: #4289B9;
    background-image: -moz-linear-gradient(center top , #4289B9 50%, #396D9C 50%);
    border: 1px solid #396D9C;
    box-shadow: 0 1px 0 0 #50A4C8 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 6px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.featured-item a.lof-add-cart:hover span{
    background-color: #396D9C;
    background-image: -moz-linear-gradient(center top , #396D9C 50%, #4289B9 50%);
    box-shadow: none;
    text-decoration: none;
    text-shadow: 0 0 4px #FFFFFF;
}
.featured-item a.lof-add-cart:hover{
    text-decoration: none;
}
.featured-item .lof-main-puplic {
    text-align: center;
}


.s_title_block {
font-weight: normal;
font-size: 1em;
padding: 0;
height: 1.5em;
line-height: 1.5em;
overflow: hidden;
display: block;
margin-bottom: 4px;
margin-top: 0;
}
.price_container .price {
font-size: 1.333em;
font-weight: bold;
margin-right: 4px;
}

.icon-left-open-3:before {
content: "\f137";
font-family: "FontAwesome";
font-size: 28px;
line-height: 28px;
}
.icon-right-open-3:before {
content: "\f138";
font-family: "FontAwesome";
font-size: 28px;
line-height: 28px;
}

  .link-compare{
      background: url(../img/icon-btn-compare.png) no-repeat center center #868686;
        width: 38px;
  height: 38px;
  border-radius: 3px;
    vertical-align: top;
  }
  .addToWishlist-index {
      width: 38px;
  height: 38px;
  border-radius: 3px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../img/wishlist-icon.png) no-repeat center center #868686;
  vertical-align: top;

  display: inline-block;
  }



  /*-------------------------------------------------------------------
    THIS CSS FOR DAY COUNTEN
  ----------------------------------------------------------------------*/


  .ce-countdown--theme-10{font-family:'Unica One', 'cursive';-webkit-user-select:none;text-align:center}
  .ce-countdown--theme-10:before,.ce-countdown--theme-10:after{content:" ";display:table}
  .ce-countdown--theme-10:after{clear:both}
  .ce-countdown--theme-10 *{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
  .ce-countdown--theme-10 .ce-unit-wrap{float:left;margin-left:1.25em}
  .ce-countdown--theme-10 .ce-unit-wrap:first-child{margin-left:0}
  .ce-countdown--theme-10 .ce-unit-wrap>div:before,
  .ce-countdown--theme-10 .ce-unit-wrap>div:after{content:" ";display:table}
  .ce-countdown--theme-10 .ce-unit-wrap>div:after{clear:both}
  .ce-countdown--theme-10 .ce-unit-wrap>span{color:#929292;display:block;font-size:1.5em;margin:.66666666666667em 0 0;text-transform:uppercase}
  .ce-countdown--theme-10 div.flip-wrap{color:#fff;cursor:pointer;text-decoration:none}
  .ce-countdown--theme-10 div.flip-wrap:hover{color:#fff}
  .ce-countdown--theme-10 div.digits{list-style:none}
  .ce-countdown--theme-10.clearfix:before,.ce-countdown--theme-10.wrap:before,.ce-countdown--theme-10.clearfix:after,.ce-countdown--theme-10.wrap:after{content:" ";display:table}
  .ce-countdown--theme-10.clearfix:after,.ce-countdown--theme-10.wrap:after{clear:both}
  .ce-countdown--theme-10 div.digits{
    background:#000;border-radius:5px;float:left;font-size:30px;height:35px;line-height:50px;margin:0 4px;position:relative;width:25px}

  .ce-countdown--theme-10 div.digits div.digits-inner{height:10%;left:0;position:absolute;top:0;width:10%;z-index:1}
  .ce-countdown--theme-10 div.digits div.digits-inner:first-child{z-index:2}
  .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div{font-size:120px;height:50%;left:0;outline:1px solid transparent;overflow:hidden;position:absolute;width:100%;z-index:1}
  .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div .shadow{height:100%;position:absolute;width:100%;z-index:2}
  .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div.up{-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-ms-transform-origin:50% 100%;-o-transform-origin:50% 100%;transform-origin:50% 100%;top:0}
  .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div.up:after{background-color:#000;background-color:rgba(0,0,0,0.4);content:"";height:2px;left:0;position:absolute;top:73px;width:100%;z-index:5}
  .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div.down{bottom:0;-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-ms-transform-origin:50% 0;-o-transform-origin:50% 0;transform-origin:50% 0}
  .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div div.inn{background-color:#191919;border-radius:5px;color:#fff;font-size:120px;height:20%;left:0;position:absolute;text-align:center;text-shadow:0 1px 2px #000;width:100%;z-index:1}
  .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div.up div.inn{background:#373737;top:0}
  .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div.down div.inn{bottom:0}
  .ce-countdown--theme-10 div.play div.digits-inner.before{z-index:3}
  .ce-countdown--theme-10 div.play div.digits-inner.active{-webkit-animation:asd 0.5s 0.5s linear both;-moz-animation:asd 0.5s 0.5s linear both;animation:asd 0.5s 0.5s linear both;z-index:5}@-webkit-keyframes asd{0%{z-index:2}20%{z-index:4}100%{z-index:4}}@-moz-keyframes asd{0%{z-index:2}20%{z-index:4}100%{z-index:4}}@-o-keyframes asd{0%{z-index:2}20%{z-index:4}100%{z-index:4}}@keyframes asd{0%{z-index:2}20%{z-index:4}100%{z-index:4}}.ce-countdown--theme-10 div.play div.digits-inner.active .down{-webkit-animation:turn 0.5s 0.5s linear both;-moz-animation:turn 0.5s 0.5s linear both;animation:turn 0.5s 0.5s linear both;z-index:2}@-webkit-keyframes turn{0%{-webkit-transform:rotateX(90deg)}100%{-webkit-transform:rotateX(0deg)}}@-moz-keyframes turn{0%{-moz-transform:rotateX(90deg)}100%{-moz-transform:rotateX(0deg)}}@-o-keyframes turn{0%{-o-transform:rotateX(90deg)}100%{-o-transform:rotateX(0deg)}}@keyframes turn{0%{transform:rotateX(90deg)}100%{transform:rotateX(0deg)}}
  .ce-countdown--theme-10 div.play div.digits-inner.before .up{-webkit-animation:turn2 0.5s linear both;-moz-animation:turn2 0.5s linear both;animation:turn2 0.5s linear both;z-index:2}@-webkit-keyframes turn2{0%{-webkit-transform:rotateX(0deg)}100%{-webkit-transform:rotateX(-90deg)}}@-moz-keyframes turn2{0%{-moz-transform:rotateX(0deg)}100%{-moz-transform:rotateX(-90deg)}}@-o-keyframes turn2{0%{-o-transform:rotateX(0deg)}100%{-o-transform:rotateX(-90deg)}}@keyframes turn2{0%{transform:rotateX(0deg)}100%{transform:rotateX(-90deg)}}
  .ce-countdown--theme-10 div div.digits-inner.active{z-index:3}
  .ce-countdown--theme-10 div.play div.digits-inner.before .up .shadow{-webkit-animation:show 0.5s linear both;-moz-animation:show 0.5s linear both;animation:show 0.5s linear both;background:-moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, #000));background:linear,top,rgba(0,0,0,0.1) 0%,#000 100%;background:-o-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);background:-ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);background:linear,to bottom,rgba(0,0,0,0.1) 0%,#000 100%}
  .ce-countdown--theme-10 div.play div.digits-inner.active .up .shadow{-webkit-animation:hide 0.5s 0.3s linear both;-moz-animation:hide 0.5s 0.3s linear both;animation:hide 0.5s 0.3s linear both;background:-moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, #000));background:linear,top,rgba(0,0,0,0.1) 0%,#000 100%;background:-o-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);background:-ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, #000 100%);background:linear,to bottom,rgba(0,0,0,0.1) 0%,#000 100%}
  .ce-countdown--theme-10 div.play div.digits-inner.before .down .shadow{-webkit-animation:show 0.5s linear both;-moz-animation:show 0.5s linear both;animation:show 0.5s linear both;background:-moz-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0.1)));background:linear,top,#000 0%,rgba(0,0,0,0.1) 100%;background:-o-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);background:-ms-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);background:linear,to bottom,#000 0%,rgba(0,0,0,0.1) 100%}
  .ce-countdown--theme-10 div.play div.digits-inner.active .down .shadow{-webkit-animation:hide 0.5s 0.3s linear both;-moz-animation:hide 0.5s 0.3s linear both;animation:hide 0.5s 0.2s linear both;background:-moz-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0.1)));background:linear,top,#000 0%,rgba(0,0,0,0.1) 100%;background:-o-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);background:-ms-linear-gradient(top, #000 0%, rgba(0,0,0,0.1) 100%);background:linear,to bottom,#000 0%,rgba(0,0,0,0.1) 100%}@-webkit-keyframes show{0%{opacity:0}100%{opacity:1}}@-moz-keyframes show{0%{opacity:0}100%{opacity:1}}@-o-keyframes show{0%{opacity:0}100%{opacity:1}}@keyframes show{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes hide{0%{opacity:1}100%{opacity:0}}@-moz-keyframes hide{0%{opacity:1}100%{opacity:0}}@-o-keyframes hide{0%{opacity:1}100%{opacity:0}}@keyframes hide{0%{opacity:1}100%{opacity:0}}@media all and (max-width: 900px){
    .ce-countdown--theme-10 .ce-unit-wrap{margin-left:0.75em}
    .ce-countdown--theme-10 .ce-unit-wrap>span{font-size:1em;margin:.66666666666667em 0 0}.ce-countdown--theme-10{margin:.75em}
    .ce-countdown--theme-10 div.digits{font-size:70px;height:10px;line-height:10px;margin:0 2px;width:50px}
    .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div{font-size:70px}.ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div.up:after{height:2px;top:48px}
    .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div div.inn{font-size:70px;left:0}}@media all and (max-width: 650px){
        .ce-countdown--theme-10 .ce-unit-wrap{margin-left:0.5em}
    .ce-countdown--theme-10 .ce-unit-wrap>span{font-size:1em;margin:.5em 0 0}
    .ce-countdown--theme-10{margin:.75em}
    .ce-countdown--theme-10 div.digits{font-size:40px;height:70px;line-height:70px;margin:0 2px;width:40px}
    .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div{font-size:40px}.ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div.up:after{height:2px;top:33px}
    .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div div.inn{font-size:40px;left:0}}@media all and (max-width: 500px){
        .ce-countdown--theme-10{margin:.75em 0;padding:30px 10px}
    .ce-countdown--theme-10 .ce-unit-wrap{margin-left:0.3em}
    .ce-countdown--theme-10 .ce-unit-wrap>span{font-size:.75em;margin:.5em 0 0}
    .ce-countdown--theme-10 div.digits{font-size:30px;height:50px;line-height:50px;margin:0 1px;width:26px}
    .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div{font-size:30px}
    .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div.up:after{height:2px;top:24px}
    .ce-countdown--theme-10 div.digits div.digits-inner div.flip-wrap div div.inn{font-size:30px;left:0}}




  /*-------------------------------------------------------------------
    THIS CSS FOR DAY COUNTEN
  ----------------------------------------------------------------------*/



    .ce-countdown--theme-1{background:#f7f7f7;color:#000;font-family:'Roboto', sans-serif;font-size:1em;}


    .ce-countdown--theme-1 .ce-days,.ce-countdown--theme-1 .ce-hours,.ce-countdown--theme-1 .ce-minutes,.ce-countdown--theme-1 .ce-seconds,.ce-countdown--theme-1 .ce-dseconds,.ce-countdown--theme-1 .ce-mseconds{font-size:1.5em}
    .ce-countdown--theme-1 .ce-dseconds,.ce-countdown--theme-1 .ce-mseconds{display:inline-block;width:50px}
    .ce-countdown--theme-1 .ce-days-label,.ce-countdown--theme-1 .ce-hours-label,.ce-countdown--theme-1 .ce-minutes-label,.ce-countdown--theme-1 .ce-seconds-label,.ce-countdown--theme-1 .ce-dseconds-label,.ce-countdown--theme-1 .ce-mseconds-label{display:block;text-transform:uppercase}@media all and (max-width: 540px){.ce-countdown--theme-1 .ce-days,.ce-countdown--theme-1 .ce-hours,.ce-countdown--theme-1 .ce-minutes,.ce-countdown--theme-1 .ce-seconds,.ce-countdown--theme-1 .ce-dseconds,.ce-countdown--theme-1 .ce-mseconds{font-size:1.5em}
    .ce-countdown--theme-1 .ce-col{display:block}}
    .ce-countdown--theme-2{background:#ffc728;color:#fff;font-family:'Open Sans', sans-serif;font-size:1em;font-weight:100;line-height:1.4;padding:20px}


    /*----------------------------*/


    .left-block .product-image-container  .item-time{
    display:inline-block;
    position:absolute;
    bottom:25px;
    right:-15px;
     display: none;
}

.left-block .product-image-container  .item-time .time-item{
    display:inline-block;
    text-align:center;
    padding: 0 15px;
    border-right:1px solid rgba(255,255,255,0.5);
    color:#fff;
}

.left-block .product-image-container  .item-time .item-timer{
    position:relative;
    padding:12px 0px;
    height:75px;
}
.left-block .product-image-container  .item-time .item-timer:before{
    position:absolute;
    display:inline-block;
    content:"";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6px solid transparent;
    border-left: 6px solid #ff0000;
    border-bottom: 6px solid #ff0000;
    right: 5px;
    top: -9px;;
}
.left-block .product-image-container  .item-time .item-timer > div:last-child{
    border:none;
}
.left-block .product-image-container  .item-time .time-item .num-time{
    font-family:Roboto Condensed Regular;
    font-size:183.33%;
    margin-bottom:10px;
}
.left-block .product-image-container  .item-time .time-item .name-time{
    font-size:91.67%;
}
.sm-deal-wrap .w-image-box:hover .item-time{
    bottom:0px;
    opacity:0;
}

.left-block .product-image-container  .item-time .item-timer{
    background:url(../../views/img/bg-timer.png) no-repeat top right;    
}
.left-block .product-image-container  .item-time .item-timer:after{
    content:"";
    width:33px;
    height:75px;
    position:absolute;
    left:-33px;
    top:0px;
    background:url(../../views/img/after-left.png) no-repeat top left;   
}
.left-block .product-image-container  .item-time .item-timer:before{
    border: 5px solid transparent;
    border-left: 5px solid #709f24;
    border-bottom: 5px solid #709f24;
}

    /*----------------------------*/


    .left-block .product-image-container  .example{
    display:inline-block;
    position:absolute;
  bottom: 0px;
  right: -16px;

}

.left-block .product-image-container  .example .ce-countdown{
    display:inline-block;
    text-align:center;
    padding: 5px 5px;
    border-right:1px solid rgba(255,255,255,0.5);
    color:#fff;
}

.left-block .product-image-container  .example .ce-countdown{
    position:relative;
        
}
.left-block .product-image-container  .example .ce-countdown:before{
    position:absolute;
    display:inline-block;
    content:"";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6px solid transparent;
    border-left: 6px solid #ff0000;
    border-bottom: 6px solid #ff0000;
    right: 5px;
    top: -9px;;
}
.left-block .product-image-container  .example .ce-countdown > div:last-child{
    border:none;
}
.left-block .product-image-container  .example .ce-days .ce-hours{
    font-family:Roboto Condensed Regular;
    font-size:183.33%;
    margin-bottom:10px;
}
.left-block .product-image-container  .example .ce-days .ce-hours{
    font-size:91.67%;
}
.sm-deal-wrap .w-image-box:hover .example{
    bottom:0px;
    opacity:0;
}

.left-block .product-image-container  .example .ce-countdown{
    //background:url(../../views/img/bg-timer.png) no-repeat top right;  
    background-color: rgb(141, 190, 63);  
}
.left-block .product-image-container  .example .ce-countdown:after{
  content: "";
  width: 34px;
  height: 35px;
  position: absolute;
  left: -18px;
  top: 7px;
  /* background: url(../../views/img/after-left.png) no-repeat top left; */
  background-color: rgb(141, 190, 63);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);   
}
.left-block .product-image-container  .example .ce-countdown:before{
    border: 5px solid transparent;
    border-left: 5px solid #709f24;
    border-bottom: 5px solid #709f24;
}

    .ce-countdown--theme-1 .ce-col{  display: inline-block;

  font-size: 70.33%;
  
  text-align: center;
  padding: 0 8px;
  border-right: 1px solid rgba(255,255,255,0.5);
  color: #fff;}