@import "../../_theme_variables";

#search_block_top {
	padding-top: 28px;
	width: 270px;
	float: left;
	margin: 0 15px 0 65px;
	@media (max-width: $screen-md-max) {
 		float: right;
	}
	@media (max-width: $screen-xs-max) { 
		float: none;
		width: 100%;
		padding: 40px 15px 0;
		margin: 0;
	}
	#searchbox {
		position:relative;
		background: rgba(255, 255, 255, 0.4);
		padding-right:40px;
	}
	.btn.button-search {
		background: none;
		display: block;
		position: absolute;
		top: -1px;
		right: -1px;
		border: none;
		color: $base-text-color;
		width: 36px;
		text-align: center;
		padding: 8px 0 9px;
		span {
			display: none;
		}
		&:before {
			content: "\f002";
			display: block;
			font-family: $font-icon;
			font-size: 17px;
			line-height: 20px;
			width: 100%;
			text-align: center;
			@include transition (all 0.2s ease);
		}
		&:hover:before {
			font-size: 20px;
		}
	}
	#search_query_top {
		display: inline-block;
		padding: 2px 0 2px 13px;
		height: 36px;
		color: $light-text-color;
		border:none;
		background:none;
		&.form-control::-moz-placeholder {
			color: $light-text-color;
		}
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;	
		}
	}
}	

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.btn.btn-sm {
		float:left;
		i {
			margin-right:0;
		}
	}
}