<!-- MODULE QuickOrderForm 15 -->
<div id="quickorderform_block_top" class="quickorderform-block">
    <div class="main">
       <a href="{$link->getModuleLink('quickorderform')}" title="{l s='Order by reference input' mod='quickorderform'}">
                   {l s='Order quicker' mod='quickorderform'}
        </a>
    </div>
   
</div>
<!-- /MODULE QuickOrderForm 15 -->