/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left {
  padding: 0 15px 7px;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    #footer #newsletter_block_left {
      width: 100%; } }
  #footer #newsletter_block_left h4 {
    background: none;
    padding: 0;
    margin-bottom: 12px;
    border: none; }
    #footer #newsletter_block_left h4:after {
      display: none; }
  #footer #newsletter_block_left .block_content {
    overflow: hidden; }
  #footer #newsletter_block_left .form-group {
    margin-bottom: 0; }
    #footer #newsletter_block_left .form-group .form-control {
      height: 37px;
      line-height: 30px;
      max-width: 238px;
      border: none;
      background: rgba(255, 255, 255, 0.4);
      color: white;
      padding: 2px 12px;
      display: inline-block;
      float: left; }
      @media (max-width: 991px) {
        #footer #newsletter_block_left .form-group .form-control {
          max-width: 180px; } }
      @media (max-width: 767px) {
        #footer #newsletter_block_left .form-group .form-control {
          max-width: 230px; } }
      #footer #newsletter_block_left .form-group .form-control:focus {
        -moz-box-shadow: black 0 0 0;
        -webkit-box-shadow: black 0 0 0;
        box-shadow: black 0 0 0; }
    #footer #newsletter_block_left .form-group .btn-sm {
      margin: 4px 0 0 7px;
      border: none;
      background: none;
      color: #b38870;
      padding: 2px; }
      #footer #newsletter_block_left .form-group .btn-sm:before {
        content: "\f18e";
        font-family: "FontAwesome";
        font-size: 28px;
        line-height: 28px; }
      #footer #newsletter_block_left .form-group .btn-sm:hover {
        color: white !important; }
      #footer #newsletter_block_left .form-group .btn-sm span {
        display: none; }
  #footer #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }
