@import "../../../_theme_variables";

/* Top hook CSS */
#htmlcontent_top {
	ul {
		@media (max-width: $screen-xs-max) { 
			margin-bottom: 0;
		}
		li {
			padding-bottom: 50px;
			@media (max-width: $screen-md-max) { 
				padding-bottom: 30px;
			}
			a {
				position: relative;
				display: block;
				overflow: hidden;
				img {
					width: 100%;
					@include transition (all 0.3s ease);
					max-width: 100%;
					height: auto;
				}
				.item-html {
					@include transition (all 0.3s ease);
				}
				h2 {
					@include transition (all 0.2s ease);
				}
			}
		}
		.htmlcontent-item-1 {
			padding: 0 0 50px 0;
			width: 35.02%;
			@media (max-width: $screen-md-max) {
				width: 34.76%;
				padding-bottom: 30px;
			}
			@media (max-width: $screen-sm-max) {
				width: 34.5%
			}
			@media (max-width: $screen-xs-max) { 
				display: none;
			}
			@media (max-width: $screen-xs) { 
				display: block;
				width: 100%;
				padding: 0 15px 30px;
			}
			a {
				&:hover img {
					@include scale(1.1);
				}
				&:hover h2 {
					color: $custom-text-color;
				}
				.item-html {
					position: absolute;
					top: 6%;
					left: 9.5%;
				}
				h2 {
					font: 400 41px/46px $font-other;
					margin: 0;
					padding: 0;
					text-transform: uppercase;
					color: $light-text-color;
					@media (max-width: $screen-sm-max) {
						font: 400 28px/34px $font-other;
					}
					@media (max-width: $screen-xs){
						font: 400 36px/41px $font-other;
					}
				}
			}
		}
		.htmlcontent-item-2 {
			clear: both;
			a {
				&:hover .item-html {
					@media (min-width: $screen-md-max) {
						left: 6%
					}
				}
				&:hover h2 {
					color: $custom-text-color;
				}
				.item-html {
					position: absolute;
					width: 42%;
					top: 28.5%;
					left: 48.5%;
					text-transform: uppercase;
					color: $light-text-color;
					@media (max-width: $screen-md-max) {
						top: 12%;
					}
					@media (max-width: $screen-xs-max) { 
						left: 47%;
						top: 19%;
					}					
					@media (max-width: $screen-xs) { 
						left: 10.5%;
					}
				}
				h2 {
					font: 400 55px/57px $font-other;
					margin:  0 0 18px;
					padding: 0;
					text-transform: uppercase;
					@media (max-width: $screen-sm-max) {
						font: 400 30px/37px $font-other;
					}
					@media (max-width: $screen-xs){
						font: 400 24px/30px $font-other;
					}
				}
				p {
					font: 400 17px/26px $font-other;
					@media (max-width: $screen-xs-max) { 
						display: none;
					}

				}
			}
		}
		.htmlcontent-item-3 {
			a {
				background: url(../../../../img/bg-baner3.jpg) 0 0 / 100% no-repeat;
			}
		}
		.htmlcontent-item-4 {
			a {
				background: url(../../../../img/bg-baner4.jpg) 0 0 / 100% no-repeat;
			}
		}
		.htmlcontent-item-5 {
			a {
				background: url(../../../../img/bg-baner5.jpg) 0 0 / 100% no-repeat;
			}
		}
		.htmlcontent-item-3,
		.htmlcontent-item-4,
		.htmlcontent-item-5 {
			padding-bottom: 35px;
			@media (max-width: $screen-xs){
				width: 100%;
			}
			a {
				.item-wrap {
					position: absolute;
					bottom: 2.2%;
					left: 5.5%;
					color: $dark-text-color;
					padding-right: 45px;
					@media (max-width: $screen-md-max) {
					}
					@media (max-width: $screen-sm-max) {
						padding-right: 5px;
						bottom: 5.2%;
					}
					@media (max-width: $screen-xs) {
						bottom: 7.2%;
					}
				}
				img {
					@include transition (all 0.5s ease);
				}
				span {
					color: $light-text-color;
					font: 400 19px/24px $font-theme;
					position: absolute;
					top: 3.8%;
					left: 5.5%;
					padding: 2px 6px 6px;
					background: $custom-background;
					@include transition (all 0.3s ease);
					@media (max-width: $screen-sm-max) { 
						font-size: 15px;
					}
					@media (max-width: $screen-xs-max) { 
						font-size: 12px;
						line-height: 16px;
						padding-bottom: 3px;
						top: 82%;
					}
					@media (max-width: $screen-xs) {
						top: 3.8%;
						font-size: 14px;
						line-height: 20px;
					}
				}
				h2 {
					text-transform: uppercase;
					font: 400 25px/33px $font-other;
					margin-bottom: 4px;
					@media (max-width: $screen-sm-max) {
						font: 400 24px/28px $font-other;
					}
					@media (max-width: $screen-sm-max) {
						font: 400 17px/23px $font-other;
					}
					@media (max-width: $screen-xs-max) { 
						display: none;
					}
					@media (max-width: $screen-xs) {
						display: block;
						font: 400 20px/27px $font-other;
					}
				}
				p {
					font: 400 12px/18px $font-theme;
					@media (max-width: $screen-md-max) { 
						display: none;
					}
				}
				&:hover img {
					@media (min-width: $screen-md-max) {
						@include scale(-1, 1);
					}
				}
				&:hover span {
					background: $dark-background;
				}
			}
		}
	}
}

/* Left hook CSS */
#htmlcontent_left {
}

/* Right hook CSS */
#htmlcontent_right {
}

/* Footer hook CSS */
#htmlcontent_footer {
}