@import "../../../_theme_variables";

#gear-right {
	background: #333333;
	display: block;
	height: 50px;
	left: 0px;
	position: fixed;
	top: 150px;
	width: 50px;
	z-index: 10000;
	cursor: pointer;
}

.icon-2x {
	font-size:2em;
}

#gear-right i {
	display: block;
	padding-top: 10px;
	text-align: center;
}
#tool_customization{
	position: fixed;
	left: -215px;
	top: 150px;
	z-index: 10000; 
	height: auto;
	width: 215px;
	background: #333333
}
#tool_customization p{
	padding: 15px;
	color: #ffffff;
	font-size: 13px;
}
#tool_customization p span{
	color: #8d8c8c;
	font-size: 11px;
}
#tool_customization .list-tools{
	background: #484848;
	border: 1px solid #595959;
	border-left: none;
	border-right: none;
	height: 50px;
}
#tool_customization .list-tools p{
	font-size: 1em;
	text-transform: uppercase;
}
#tool_customization .list-tools i{
	font-size: 1.4em;
	position: relative;
	top: -4px;
}
#tool_customization #color-box{
	margin: 0;
	padding: 15px 0 0 15px;
}
#tool_customization #color-box li{
	display: inline-block;
	border: 2px solid black;
	height: 30px;
	width: 30px;
	margin: 0 15px 15px 0;
}
#tool_customization #color-box li:hover{
	border: 2px solid white;
}
#tool_customization #color-box .color-theme1{
	display: block;
	width: 0px;
	height: 0px;
	border-left-color: transparent !important;
	border-top-color: transparent !important;
	position: relative;
	z-index: 1
}
#tool_customization #color-box .color-theme2{
	display: block;
	width: 26px;
	height: 26px;
	position: relative;
	top: -26px;
}
#tool_customization #color-box li.theme1{
	display: none
}
#tool_customization #color-box li{
	cursor: pointer
}
#tool_customization #color-box .theme1 .color1{
	border: 13px solid #ffffff;
}
#tool_customization #color-box .theme1 .color2{
	background: #484848;
}
#tool_customization #color-box .theme2 .color1{
	border: 13px solid #1c2f51;
}
#tool_customization #color-box .theme2 .color2{
	background: #af1334;
}
#tool_customization #color-box .theme3 .color1{
	border: 13px solid #425a1e;
}
#tool_customization #color-box .theme3 .color2{
	background: #8dbf41;
}
#tool_customization #color-box .theme4 .color1{
	border: 13px solid #dcb454;
}
#tool_customization #color-box .theme4 .color2{
	background: #92290f;
}
#tool_customization #color-box .theme5 .color1{
	border: 13px solid #393939;
}
#tool_customization #color-box .theme5 .color2{
	background: #93a772;
}
#tool_customization #color-box {
	.theme6, .theme7, .theme8, .theme9{
		display:none;
	}
}
#tool_customization #font-box{
	padding: 0 15px 15px;
}
#tool_customization #font-box p{
	padding: 0; 
	margin: 15px 0 5px;
	color: #9c9b9b;
}
#tool_customization #font-box .font-list{
	height: 30px;
	width: 180px;
}
#tool_customization .btn-tools{
	background: #484848;
	border: 1px solid #595959;
	border-left: none;
	border-right: none;
	height: 56px;
	padding: 10px 15px;
}
#tool_customization .btn{
	width: 47%;
	padding: 8px 5px;
	float: left;
	display: block;
	overflow: hidden;
}
#tool_customization .btn-1{
	background: #727171;
	color: white;
	margin: 0 4% 0 0;
}
#tool_customization .btn-2{
	background: white;
	color: #3a3939;
	font-weight: bold;
}
#tool_customization .btn-1:hover{
	background-color: #959394;
}
#tool_customization .btn-2:hover{
	background-color: #64D3FF;
}
#tool_customization #block-advertisement{
	display: none !important;
}
#tool_customization #block-advertisement,
#tool_customization #block-advertisement2{
	padding: 20px;
}