@import "../../../_theme_variables";

$theme-color1: #8dbf41;
$theme-color-hover1: #8fd820;
$theme-color2: #425a1e;
$theme-color-hover2: #263215;
$theme-color-cart: #9bc758;
$theme-color-cart-button: #9bc758;


#index #page span.img-bg {
	span.mask {
		background: rgba(45, 60, 23, 0.5);
	}
}
header:after {
	background: rgba(45, 60, 23, 0.5);
}

.user_info li a:hover {
	background: $theme-color1;
}
#languages-block-top,
#currencies-block-top {
	div.current {
		&:hover,
		&.active, 
		&.active strong,
		&:hover strong,
		&:hover:after,
		&.active:after {
			color: $theme-color-hover1;
		}
	}
}
#header {
	#block_top_menu #block_top_wrap {
		background: $theme-color2;
		@media (max-width: $screen-xs-max) {
			background: none;
		}
	}
	.sf-menu ul {
		background: $theme-color2;
	}
	.sf-menu > li {
		border-right: 1px solid #687b4b;
		&:first-child {
			border-left: 1px solid #687b4b;
			@media (max-width: $screen-xs-max) {
				border: none;
			}
		}
		> a:after {
			background: $theme-color1;
		}
		> ul > li > a:hover {
			color: $theme-color1;
		}
		@media (max-width: $screen-xs-max) {
			border: none;
		}
	}
	.sf-menu li li li a {
		color: $theme-color1;
		&:hover {
			color: $light-text-color;
		}
	}
	.cat-title {
		background: $theme-color2;
		&:hover,
		&.active {
			background: $theme-color-hover2;
		}
	}
	.sf-menu {
		@media (max-width: $screen-xs-max) { // max 767px
			background: $theme-color2;
		}
	}
	.sf-menu > li.sfHover > a, 
	.sf-menu > li > a:hover, 
	.sf-menu > li.sfHoverForce > a {
		@media (max-width: $screen-sm-max) {
			background: $theme-color-hover2;
		}
	}
}
.shopping_cart > a:first-child {
	background: $theme-color1;
	&:before {
		color: $theme-color-cart;
	}
	&:hover:before {
		color: $theme-color2;
	}
}
.cart_block .cart-buttons .btn {
	background: $theme-color1;
	span {
		background: $theme-color-cart-button;
	}
	&:hover span {
		background: $theme-color-hover1;
	}
}

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
 #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
 	background: $theme-color1;
 }
 #htmlcontent_top ul {
 	.htmlcontent-item-1,
 	.htmlcontent-item-2 {
 		a:hover h2 {
 			color: $theme-color1;
 		}
 	}
 	.htmlcontent-item-3 a span, 
	.htmlcontent-item-4 a span,
	.htmlcontent-item-5 a span {
		background: $theme-color1;
	}
 }

 #home-page-tabs > li.active a, 
 #home-page-tabs > li a:hover {
 	color: $theme-color1;
 }
 .price-percent-reduction {
 	background: $theme-color2;
 }
 .price.product-price {
 	color: $theme-color1;
 }

.product-name {
	color: $theme-color1;
}

.btn.btn-default {
	&:hover,
	&:active,
	&:focus {
		background: $theme-color1;
	}
}

.btn.ajax_add_to_cart_button, 
.btn.ajax_add_to_cart_product_button {
	background: $theme-color1;
	&:after {
		background: $theme-color-hover1;
	}
	&:hover,
	&:active,
	&:focus {
		background: $theme-color1;
		@media (max-width: $screen-sm-max) {
			background: $theme-color-hover1;
		}
	}
}

.wrap_lnk_view {
	.btn.lnk_view {
		background: $theme-color2;
		&:hover {
			background: $theme-color2;
			@media (max-width: $screen-sm-max) {
				background: $theme-color-hover2;
			}
		}
		&:before {
			background: $theme-color-hover2;
		}
	}
}
.top-pagination-content,
.bottom-pagination-content {
	ul.pagination {
		li {
			> a:hover, 
			> a:focus {
				background: $theme-color1;
			}
		}
	}
}
#cmsinfo_block li em {
	background: rgba(141, 191, 65, 0.7);
}
#cmsinfo_block p strong {
	color: $theme-color1;
}

.footer-container {
	background-size: cover;
	span.mask {
		background: rgba(45, 60, 23, 0.6);
	}
	#footer { 
		a {
			color: $theme-color1;
		}
		h4 a:hover {
			color: $theme-color1;
		}
		#block_contact_infos > div ul li {
			i {
				color: $theme-color1;
			}
			> span a {
				color: $theme-color1;
			}
		}
		#newsletter_block_left .form-group .btn-sm {
			color: $theme-color1;
		}
	}
}