#search_block_top {
  padding-top: 10px;
  width: 470px;
  float: left;
  margin: 0 15px 0 48px; }
  @media (max-width: 1199px) {
    #search_block_top {
      margin-left: 340px;
      float: right; } }
  @media (max-width: 991px) {
    #search_block_top {
      margin-left: 118px;
    }
  }
    @media (max-width: 480px) {
    #search_block_top {
      float: none;
      width: 100%;
      padding: 10px 15px 0;
      margin: 0; } }
  @media (max-width: 767px) {
    #search_block_top {
      float: none;
      width: 100%;
      padding: 40px 15px 0;
      margin: 0; } }
  #search_block_top #searchbox {
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    padding-right: 40px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
}
  #search_block_top .btn.button-search {
    background: none;
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    border: none;
    color: #333333;
    width: 36px;
    text-align: center;
    padding: 8px 0 9px; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      line-height: 20px;
      width: 100%;
      text-align: center;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #search_block_top .btn.button-search:hover:before {
      font-size: 20px; }
  #search_block_top #search_query_top {
    display: inline-block;
    padding: 2px 0 2px 13px;
    height: 36px;
    color: #2B1406;
    border: none;
    background: none; }
    #search_block_top #search_query_top.form-control::-moz-placeholder {
      color: #2B1406; }

.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: rgb(125, 112, 91);
      color: #fff; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .btn.btn-sm {
    float: left; }
    form#searchbox .btn.btn-sm i {
      margin-right: 0; }
.ac_results i {
  font-style: italic;
}