@import "../../_theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {
	.form-group {
		margin-bottom: 0;
		.form-control {
			max-width: 222px;
			display: inline-block;
			margin-right: 6px;
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;	
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}

/* Block newsletter footer */
#footer {
	#newsletter_block_left {
		padding: 0 15px 7px;
		margin-bottom: 0;
		@media (max-width: $screen-xs-max) { // max 767px
			width: 100%;
		}
		h4 {
			background: none;
			padding: 0;
			margin-bottom: 12px;
			border: none;
			&:after {
				display: none;
			}
		}
		.block_content {
			overflow: hidden;
		}
		.form-group {
			margin-bottom: 0;
			.form-control {
				height: 37px;
				line-height: 30px;
				max-width: 238px;
				border: none;
				background: rgba(255, 255, 255, 0.4);
				color: $light-text-color;
				padding: 2px 12px;
				display: inline-block;
				float: left;
				@media (max-width: $screen-sm-max) {
					max-width: 180px;
				}
				@media (max-width: $screen-xs-max) { 
					max-width: 230px;
				}
				&:focus {
					@include box-shadow(black 0 0 0);
				}
			}
			.btn-sm {
				margin: 4px 0 0 7px;
				border: none;
				background: none;
				color: $custom-text-color;
				padding: 2px;
				&:before {
					content: "\f18e";
					font-family: $font-icon;
					font-size: 28px;
					line-height: 28px;
				}
				&:hover {
					color: $light-text-color !important;
				}
				span{
					display: none;
				}	
			}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			font-size: 13px;
			line-height :26px;
			clear: both;
			@media (min-width: $screen-lg) { // min 1200px
				display: inline-block;
				position: relative;
				top: -35px;
				margin-bottom: -35px;
				left: 15px;
				clear: none;
			}
		}
	}
}