<p class="payment_module">
	<a href="{$this_path_ssl}payment.php" title="{l s='Send a quote' mod='quote'}">
		<img src="{$this_path}devisquote.png" alt="{l s='Send a quote' mod='quote'}" />
		{l s='Send the Quote' mod='quote'}
	</a>
</p>