
		<table style="font-family:Verdana, sans-serif;font-size:11px;color:#374953;width:550px;"><tr><td align="left">
				<a href="{shop_url}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" /></a>
			</td>
		</tr><tr><td> </td></tr><tr><td align="left">Bonjour <strong style="color:#374953;">{firstname} {lastname}</strong>,</td>
		</tr><tr><td> </td></tr><tr><td align="left" style="background-color:#C9D1D0;color:#374953;font-size:12px;font-weight:bold;padding:.5em 1em;">Historique de votre commande n°{id_order}</td>
		</tr><tr><td> </td></tr><tr><td align="left">
				Nous avons bien enregistré votre commande {id_order}. Celle-ci vous sera envoyée dès réception de votre paiement.
			</td>
		</tr><tr><td> </td></tr><tr><td align="left">
				Pour rappel, vous avez sélectionné le devis et celui-ci est à envoyer à :
				<br /><br /><strong>{quote_owner}</strong>
				<br /><br />
				{quote_details}
				<br /><br />
				{quote_address}
				<br /><br />
				Le montant total est de {total_paid}
			</td>
		</tr><tr><td> </td></tr><tr><td align="left">
				Vous pouvez accéder au suivi de votre commande et télécharger votre facture dans <a href="{shop_url}history.php" style="color:#374953;font-weight:bold;text-decoration:none;">"Historique des commandes"</a> de la rubrique <a href="{shop_url}my-account.php" style="color:#374953;font-weight:bold;text-decoration:none;">"Mon compte"</a> sur notre site.
			</td>
		</tr><tr><td> </td></tr><tr><td align="center" style="font-size:10px;border-top:1px solid #D9DADE;">
				<a href="{shop_url}" style="color:#374953;font-weight:bold;text-decoration:none;">{shop_name}</a> réalisé avec <a href="http://www.prestashop.com/" style="text-decoration:none;color:#374953;">PrestaShop™</a>
			</td>
		</tr></table>