.groupswitch-block {
	float: right;
	position: relative;
	z-index: 999;
	margin-top: 39px;
}
.groupswitch-block div.current {
  cursor: pointer;
  font: 700 12px/16px "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.groupswitch-block div.current:after {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 13px;
  line-height: 13px;
  color: white;
  vertical-align: 0;
  padding-left: 7px;
}
.groupswitch-block ul {
  display: none;
  position: absolute;
  top: 33px;
  right: 0;
  width: 157px;
  background: #111;
  z-index: 2;
}
.groupswitch-block ul li {
  color: white;
  line-height: 35px;
  font-size: 13px;
}
.groupswitch-block ul li.selected, .groupswitch-block ul li:hover a {
  background: #333;
}
.groupswitch-block ul li a, .groupswitch-block ul li > span {
  padding: 0 10px 0 12px;
  display: block;
  color: white;
}
  @media (max-width: 1199px) {
    #groupswitch-block-top {
      margin-top: 25px; } }
  @media (max-width: 767px) {
    #groupswitch-block-top {
      float: none;
      display: inline-block; } }