.quickorderform-block {
  float: right;
  position: relative;
  z-index: 991;
  margin-top: 39px;
}
.quickorderform-block div.main {
  cursor: pointer;
  font: 700 12px/16px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #2B1406;
  padding: 5px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.quickorderform-block div.main a {
  color: #2B1406;
}
.quickorderform-block div.main:hover a, .quickorderform-block div.main:hover:after   {
  color: #dcab8f;
}
.quickorderform-block div.main:after {

}
@media (max-width: 1199px) {
.quickorderform-block {
  margin-top: 25px; } }
@media (max-width: 767px) {
.quickorderform-block {
  float: none;
  display: inline-block; 
  margin-top: 10px;
  } 
}
@media (min-width: 768px) and (max-width: 991px) {
  .quickorderform-block {
    margin-top: 25px;
    margin-right: 15px;
  }
}