/* ************************************************************************************************
                Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  line-height: 12px;
  font-size: 10px;
  margin: 0 0 12px 0;
}
  .content_scene_cat .content_scene_cat_bg {
    padding: 0px 0 0 0; }
  .content_scene_cat span.category-name {
    font: 600 25px/30px "Open Sans", sans-serif;
    margin-bottom: 12px;
    display: inline-block; }
    @media (max-width: 1199px) {
      .content_scene_cat span.category-name {
        font-size: 25px;
        line-height: 30px; } }
  .content_scene_cat p {
    margin-bottom: 0; }
  .content_scene_cat a.lnk_more {
    font-weight: bold; }
  .content_scene_cat a:hover {
    text-decoration: underline; }
  .content_scene_cat .content_scene {
    color: #777777; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #777777; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #515151; }

/* ************************************************************************************************
                  Sub Categories Styles
************************************************************************************************ */
#subcategories {
  border-top: 1px solid #d6d4d4;
  padding: 15px 0 0 0; }
  #subcategories p.subcategory-heading {
    font-weight: bold;
    color: #333333;
    margin: 0 0 15px 0; }
  #subcategories ul {
    margin: 0 0 0 -20px; }
    #subcategories ul li {
      /*float: left;*/
      /*width: 128px;*/
      /*margin: 0 0 13px 20px;*/
      /*text-align: center;*/
      /*height: 202px; */
    }
      #subcategories ul li .subcategory-image {
        padding: 0 0 8px 0; }
        #subcategories ul li .subcategory-image a {
          display: block;
          border: 1px solid #d6d4d4;
          padding: 9px;
          position: relative;
          background: white; }
          #subcategories ul li .subcategory-image a img {
            max-width: 100%;
            vertical-align: top;
            height: auto; }
      #subcategories ul li h5 {
        margin: 0; }
      #subcategories ul li .subcategory-name {
        font: 600 15px/18px "Open Sans", sans-serif;
        color: #333333;
        text-transform: uppercase; }
        #subcategories ul li .subcategory-name:hover {
          text-decoration: underline; }
      #subcategories ul li .cat_desc {
        display: none; }
      #subcategories ul li:hover .subcategory-image a {
        border-width: 5px;
        padding: 5px; }
.subcategory {
  outline: 1px solid #ddd;
  margin-bottom: 15px;
  transition: outline 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.subcategory:hover {
  outline: 3px solid #2B1406;
}
.subcategory-child-name {
  display: block;
  text-overflow: ellipsis;
  max-height: 1.2em;
  word-wrap: break-word;
  overflow: hidden;
}
.subcategory a:hover {
  text-decoration: underline;
}
a.subcategory-name {
  color: #2B1406;
  font-weight: bold; }
.subcategory-image {
    padding-right: 0;
}