/*******************************************************
Product list Styles
********************************************************/
ul.product_list .availability span {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px 4px 8px;
  margin-bottom: 20px;
  position: absolute;
  z-index: 500;
  bottom: 0px;
  left: 0; }
  ul.product_list .availability span.available-now {
    background: #46a74e;
    border: 1px solid #36943e;
    display: none; }
  ul.product_list .availability span.out-of-stock {
    background: #ff7430;
    border: 1px solid #ea5e1a; }
ul.product_list .color-list-container { }
  ul.product_list .color-list-container ul li {
    display: inline-block;
    border: 1px solid #d6d4d4; }
    ul.product_list .color-list-container ul li a {
      display: block;
      width: 23px;
      height: 23px;
      margin: 1px; }
ul.product_list.grid .product-name {
    // height: 1.5em;
    display: block;
    // height: 1.5em;
    overflow: hidden;
    // height: 1.5em;
    line-height: 1.1em;
    // height: 1.5em;
    min-height: 2.2em;
    // height: 1.5em;
    height: 1.5em;
    // overflow: hidden;
    // line-height: 1.5em;
}
ul.product_list .right-block .availability, ul.product_list.list .center-block .availability {
  display: none;
}
.product_list.grid .product-container:hover .sale-box, .product_list.grid .product-container:hover .availability {
  display: none;
}
@media (min-width: 1200px) {
  ul.product_list.grid > li .product-container:hover{ width: 194px; }
}
@media (max-width: 1199px) {
  ul.product_list.grid > li .product-container:hover { width: 151px; }
}
@media (max-width: 991px) {
  ul.product_list.grid > li .product-container:hover { width: 252px; }
}
@media (max-width: 767px) {
  ul.product_list.grid > li .product-container:hover { width: 91%; }
}
#index ul.product_list.grid > li .product-container:hover {
  width: 262px;}
ul.product_list .product-container h5 {
  margin: 0;
  padding: 0;
  // height: 1.5em;
  }
ul.product_list.list .product-container h5 {
  height: auto;
}
ul.product_list.grid .product-container:hover h5 {
  padding: 0;
  height: auto;
  min-height: 1.5em;
}
  ul.product_list.grid .product-container h5 a span.list-name {
  display: none; }
ul.product_list .product-image-container {
  text-align: center; }
  ul.product_list .product-image-container img {
  margin: 0 auto; }
  ul.product_list .product-image-container .quick-view {
    font: 700 13px/16px Arial, Helvetica, sans-serif;
    color: #777676;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px 0 0 -53px;
    padding: 13px 0;
    background: rgba(255, 255, 255, 0.82);
    width: 107px;
    text-align: center;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px; }
    @media (max-width: 1199px) {
      ul.product_list .product-image-container .quick-view {
        display: none; } }
    @media (min-width: 1200px) {
      ul.product_list .product-image-container .quick-view {
        display: none; } }
    @media (max-width: 767px) {
      ul.product_list .product-image-container .quick-view {
        display: none; } }
ul.product_list .comments_note {
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  line-height: 17px; }
  ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    font-style: italic;
    display: inline-block; }
ul.product_list .functional-buttons div a,
ul.product_list .functional-buttons div label {
  font: 400 12px/17px "Open Sans", sans-serif;
  color: #777676;
  cursor: pointer;
  padding: 0 3px; 
  margin-top: -5px;
}
  ul.product_list.grid .functional-buttons div a:hover,
  ul.product_list.grid .functional-buttons div label:hover {
    color: #000; }
// ul.product_list .functional-buttons div.wishlist a:before {
//   display: inline-block;
//   font-family: "FontAwesome";
//   margin-right: 3px;
//   padding: 0 3px; }
// ul.product_list .functional-buttons div.wishlist a.checked:before {
//   content: "\f004"; }
@media (min-width: 992px) and (max-width: 1199px) {
  ul.product_list .functional-buttons div.wishlist {
    border-right: 0; }
    ul.product_list .functional-buttons div.wishlist a:before {
      display: none; } }
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list .functional-buttons div.wishlist {
    border-right: 0; }
    ul.product_list .functional-buttons div.wishlist a:before {
      display: none; } }
ul.product_list .functional-buttons div.compare a:before {
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 3px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.compare a:before {
      display: none; } }
  @media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.compare a:before {
      display: none; } }
ul.product_list .functional-buttons div.compare a.checked:before {
  content: "\f068"; }

/*******************************************************
Product list(Grid) Styles 
********************************************************/
ul.product_list.grid > li {
  padding-bottom: 20px;
  position: relative;
}
@media (min-width: 1200px) {
  ul.product_list.grid > li {
    min-height: 303px;
  }
  #index ul.product_list.grid > li {
    min-height: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  ul.product_list.grid > li {
    min-height: 319px;
  }
  #index ul.product_list.grid > li {
    min-height: 371px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.product_list.grid > li {
    min-height: 400px;
  }
  #index ul.product_list.grid > li {
    min-height: 379px;
  }
}
  @media (min-width: 480px) and (max-width: 767px) {
    ul.product_list.grid > li {
      width: 50%;
      min-height: 428px;
      float: left; } }
  @media (max-width: 480px) {
    ul.product_list.grid > li {
      text-align: center; } }
  ul.product_list.grid > li .product-container {
    padding: 5px; 
    outline: 1px solid #ccc;
  transition: outline 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: relative;
  background: #fff;
}

  ul.product_list.grid > li .product-container:hover {
    outline: 4px solid #aaa;
    z-index: 1500;
    position: absolute;
  } 
  #index ul.product_list.grid > li .product-container {
    outline:none;
  }
    ul.product_list.grid > li .product-container .product-image-container {
      overflow: hidden;
      position: relative;
      padding: 0 0 10px; }
      @media (max-width: 767px) {
        ul.product_list.grid > li .product-container .product-image-container {
          margin-left: auto;
          margin-right: auto; } }
      @media (min-width: 1199px) {
        ul.product_list.grid > li .product-container .product-image-container .quick-view {
          top: -50%;
          display: block;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; } }
      ul.product_list.grid > li .product-container .product-image-container .product_img_link {
        display: block; }
    ul.product_list.grid > li .product-container .comments_note {
      text-align: left; }
      @media (max-width: 480px) {
        ul.product_list.grid > li .product-container .comments_note {
          text-align: center; } }
      ul.product_list.grid > li .product-container .comments_note .star_content {
        display: inline-block;
        margin: 0 0 0 0; }
    ul.product_list.grid > li .product-container .product-desc { 
      line-height: 1.5em;
      overflow: hidden;
      margin: 0;
      height: 1.5em; 
      min-height: 1.5em;    
    }
    ul.product_list.grid > li .product-container:hover .product-desc {
      height: auto;
      display: block;
    }
    ul.product_list.grid > li .product-container .content_price {
  text-align: center;
  margin-top: 0.5em; 
  min-height: 63px;
}
    ul.product_list.grid > li .product-container .old-price,
    ul.product_list.grid > li .product-container .price,
    ul.product_list.grid > li .product-container .price-percent-reduction {
      display: inline-block; }
    ul.product_list.grid > li .product-container .product-flags {
      display: none; }
    ul.product_list.grid > li .product-container .old-price {
      margin: 0 0px 0 0px;
      font-size: 12px;
      padding-right: 4px; }
    ul.product_list.grid > li .product-container .button-container {
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      text-align: center; 
    }
    ul.product_list.grid > li .product-container:hover .button-container {
        display: block;
    }
      ul.product_list.grid > li .product-container .button-container .btn.ajax_add_to_cart_button,
      ul.product_list.grid > li .product-container .button-container span.btn,
      ul.product_list.grid > li .product-container .button-container .lnk_view {
  margin: 0 0 12px;
}

      ul.product_list.grid > li .product-container .button-container .lnk_view {
  // display: none; 
  text-align: center; 
      }

      @media (max-width: 1199px) {
        ul.product_list.grid > li .product-container .button-container {
          top: 0; } }
    ul.product_list.grid > li .product-container .functional-buttons {
      padding: 11px 5px 5px; 
      // display: none;
    }
    ul.product_list.grid > li .product-container:hover .functional-buttons {
      // display: inline-block;
      // width: 100%;
      // text-align: center;
    }
      @media (max-width: 1199px) and (min-width: 767px) {
        ul.product_list.grid > li .product-container .functional-buttons {
          text-align: center; } }
      ul.product_list.grid > li .product-container .functional-buttons div {
        padding: 3px 0 4px 0;
        display: inline-block; }
    ul.product_list.grid > li .product-container:hover .quick-view {
      top: 50%; }
  @media (min-width: 1200px) {
     ul.product_list.grid > li .product-container .button-container {
     }

    ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
      display: block; } }
  @media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
      clear: left; } }
  @media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
      clear: left; } }

@media (max-width: 767px) and (min-width: 480px) {
  #blockpack ul.product_list.grid > li.first-item-of-tablet-line {
    clear: none; } }
@media (max-width: 767px) and (min-width: 480px) {
  #blockpack .product-container {
    min-height: 600px; } }

.bx-viewport .btn.ajax_add_to_cart_button,
.bx-viewport .btn.ajax_add_to_cart_product_button {
  padding: 11px 7px 13px;
  font: 400 15px/17px "Roboto",sans-serif;
  display: block; }

#index ul.product_list.grid .product-container {
  border: none; }
  #index ul.product_list.grid .product-container .content_price {
    padding-bottom: 0; }
  @media (min-width: 1199px) {
    #index ul.product_list.grid .product-container .wrap-button-container {
      /*overflow: hidden;*/
      /*left: -15px;*/
       }
    #index ul.product_list.grid .product-container .button-container {
      position: relative;
      width: 100%;
      top: -100%;
      left: 0;
      background: white;
      padding-bottom: 10px; }
      #index ul.product_list.grid .product-container .button-container .btn.ajax_add_to_cart_button,
      #index ul.product_list.grid .product-container .button-container span.btn,
      #index ul.product_list.grid .product-container .button-container .lnk_view {
        margin: 0 0 12px; } }
  @media (min-width: 1199px) and (max-width: 1199px) {
    #index ul.product_list.grid .product-container .button-container {
      top: 0; } }
  @media (min-width: 1199px) {
    #index ul.product_list.grid .product-container:hover .button-container {
      top: 0; }
    #index ul.product_list.grid .product-container:hover .wrap-button-container {
      visibility: visible; } }

/*******************************************************
Product list(List) Styles 
********************************************************/
@media (max-width: 479px) {
  ul.product_list.list > li .left-block {
    width: 100%; } }
ul.product_list.list > li .product-container {
  border-top: 1px solid #d6d4d4;
  padding: 30px 0 30px; }
ul.product_list.list > li .product-image-container {
  position: relative;
  border: 1px solid #d6d4d4;
  padding: 9px;
  position: relative;
  background: white; }
  @media (max-width: 479px) {
    ul.product_list.list > li .product-image-container {
      margin: 0 auto; } }
  ul.product_list.list > li .product-image-container .content_price {
    display: none !important; }
ul.product_list.list > li .product-flags {
  color: #333333;
  margin: 5px 0 10px 0; }
  ul.product_list.list > li .product-flags .discount {
    color: #f13340; }
ul.product_list.list > li h5 {
  padding-bottom: 8px; }
  ul.product_list.list span.grid-name {
    display: none; }
ul.product_list.grid .product-desc {
  overflow: hidden;
}
ul.product_list.grid .product-category-name {
  // display: none;
}
ul.product_list.grid .product-container:hover .product-category-name, ul.product_list.grid > li .product-container:hover .button-container .lnk_view, #index ul.product_list.grid .product-container:hover .product-category-name, ul.product_list.grid > li .product-container .button-container .lnk_view {
  display: block;
}
ul.product_list.grid .product-container:hover .product-name{
    display: block;
    height: auto;
    overflow: visible;
  }
ul.product_list.list > li .product-desc {
  margin-bottom: 15px; }
  ul.product_list.list > li .product-desc span.grid-desc {
    display: none; 
  }
@media (max-width: 479px) {
  ul.product_list.list > li .center-block {
    width: 100%; } }
ul.product_list.list > li .center-block .comments_note {
  margin-bottom: 12px; }
  @media only screen and (min-width: 480px) {
    ul.product_list.list > li .center-block .comments_note {
      text-align: left; } }
  ul.product_list.list > li .center-block .comments_note .star_content {
    display: inline-block; }
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content {
    margin: 0;
    border-left: 1px solid #d6d4d4;
    padding-left: 10px;
    padding-bottom: 16px; } }
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 20px; } }
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 5px; } }
ul.product_list.list > li .right-block .right-block-content .content_price {
  padding-bottom: 0px; }
  @media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
      padding-top: 13px;
      padding-bottom: 12px; } }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
      padding-top: 0;
      width: 100%; } }
  ul.product_list.list > li .right-block .right-block-content .content_price span {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 14px; }
    ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
      margin-right: 8px; }
ul.product_list.list > li .right-block .right-block-content .button-container {
  overflow: hidden; }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .button-container {
      width: 100%; } }
  @media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .button-container .wrap_lnk_view {
      display: inline-block; } }
  ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    margin-bottom: 10px;
    margin-right: 10px; }
    @media (min-width: 992px) {
      ul.product_list.list > li .right-block .right-block-content .button-container .btn {
        float: left;
        clear: both; } }
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    overflow: hidden; } }
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    clear: both; }
    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
      float: left;
      padding-top: 0 !important;
      padding-right: 20px; } }
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    float: none;
    display: inline-block; }
    ul.product_list.list > li .right-block .right-block-content .functional-buttons a i, ul.product_list.list > li .right-block .right-block-content .functional-buttons a:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons label i, ul.product_list.list > li .right-block .right-block-content .functional-buttons label:before {
      display: none !important; } }
ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
  cursor: pointer; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist {
  border: none; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
  padding-top: 10px; }
  ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare a:before {
    margin-right: 10px; }
@media (min-width: 1200px) {
        ul.product_list.grid > li .product-container .button-container .btn.ajax_add_to_cart_button {
        // display: none;
      }
      #index ul.product_list.grid > li .product-container .button-container .btn.ajax_add_to_cart_button {
        display: block;
      }
 }
 @media (max-width: 991px) {
    ul.product_list.grid > li .product-container .button-container .btn.ajax_add_to_cart_button {
      display: block;
    }
 }
@media (max-width: 479px) {
  ul.product_list.list > li {
    text-align: center; } }

/*******************************************************
Product list(Index page) Styles 
********************************************************/
#index ul.product_list.tab-pane > li {
  padding-bottom: 5px;
  margin-bottom: 25px; }
  #index ul.product_list.tab-pane > li .availability {
    display: none; }
  @media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
      clear: none;
      min-height: 440px; }
    #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
      clear: left; } }

/***** IE code *****/
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #d6d4d4; }

.product_list.list .product-ref {
  padding-bottom: 10px;
}