.user_info-block-top {
  float: right;
  position: relative;
  z-index: 999;
  margin-top: 39px; }
  @media (max-width: 1199px) {
    .user_info-block-top {
      margin-top: 25px;} }
  @media (max-width: 767px) {
    .user_info-block-top {
      float: none;
      display: inline-block;
      margin-left: 10px; } }
  .user_info-block-top span.firstWord {
    display: none; }
  .user_info-block-top .login {
    padding-top: 5px;
    display: inline-block;
   }
  .user_info-block-top div.current, .user_info-block-top .login {
    cursor: pointer;
    font: 700 12px/16px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #2B1406;
    padding: 5px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .user_info-block-top div.current strong {
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      color: white; }
    @media (max-width: 480px) {
      .user_info-block-top div.current {
        font-size: 11px;
        font-weight: 400;
        padding: 3px; } }
    .user_info-block-top div.current:hover, .user_info-block-top div.current.active, .user_info-block-top div.current:hover strong, .user_info-block-top div.current.active strong, .user_info-block-top div.current:hover:after, .user_info-block-top div.current.active:after {
      color: #dcab8f; }
    .user_info-block-top div.current:after {
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      content: "\f107";
      font-family: "FontAwesome";
      font-size: 13px;
      line-height: 13px;
      color: #2B1406;
      vertical-align: 0;
      padding-left: 7px; }
    .user_info-block-top div.current.active:after {
      content: "\f106"; }
    @media (max-width: 479px) {
      .user_info-block-top div.current .cur-label {
        display: none; } }
  .user_info-block-top ul {
    display: none;
    position: absolute;
    top: 33px;
    right: 0;
    width: 157px;
    background: #111;
    z-index: 2; }
    @media (max-width: 767px) {
      .user_info-block-top ul {
        left: 0; } }
    .user_info-block-top ul li {
      color: white;
      line-height: 35px;
      font-size: 13px; }
      .user_info-block-top ul li a,
      .user_info-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: white; }
      .user_info-block-top ul li.selected, .user_info-block-top ul li:hover a {
        background: #333; }

