.blog-image {
  margin-bottom: 15px; }
  .blog-image a {
    display: block;
    border: 1px solid #d6d4d4;
    padding: 9px;
    position: relative;
    background: white; }
    @media only screen and (max-width: 767px) {
      .blog-image a img {
        width: 100%; } }

#homepage-blog li {
  margin-bottom: 30px; }
  @media (min-width: 992px) {
    #homepage-blog li.first-in-line {
      clear: left; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    #homepage-blog li {
      width: 50%;
      float: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #homepage-blog li.first-item-of-tablet-line {
      clear: left; } }
  @media only screen and (max-width: 767px) {
    #homepage-blog li.first-item-of-mobile-line {
      clear: left; } }
