@import "../../_theme_variables";

.header_user_info {
	float: right;
	border-left: 1px solid #515151;
	border-right: 1px solid #515151;
	a {
		color: $light-text-color;
		font-weight: bold;
		display: block;
		padding: 8px 9px 11px 8px;
		cursor: pointer;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
		}
		&:hover, &.active {
			background: #2b2b2b;
		}
	}
	&+ .header_user_info {
		border-right:none;	
	}
}

.user_info {
	float: right;
	text-align:right;
	margin: 43px 0 0 14px;
	@media (max-width: $screen-md-max) {
 		margin-top: 29px;
 		clear: both;
	}
	@media (max-width: $screen-xs){
		margin: 27px 0 0 7px;
	}
	li {
		display:inline-block;
		padding-right: 10px;
		a {
			font: 700 12px/16px $font-theme;
			text-transform: uppercase;
			color: $light-text-color;
			padding: 5px;	
			&:hover {
				background: $custom-background;	
			}
			@media (max-width: $screen-xs){
				font-size: 11px;
				font-weight: 400;
				padding: 3px;
			}
		}
		@media (max-width: $screen-xs){
			padding-right: 0;
		}
		+ li {
			padding-right: 15px;
		}
	}
}