/*******************************************************
Product list Styles
********************************************************/
ul#crossselling_list_car .availability span {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px 4px 8px;
  margin-bottom: 20px; }
  ul#crossselling_list_car .availability span.available-now {
    background: #46a74e;
    border: 1px solid #36943e; }
  ul#crossselling_list_car .availability span.out-of-stock {
    background: #ff7430;
    border: 1px solid #ea5e1a; }
ul#crossselling_list_car .color-list-container { }
  ul#crossselling_list_car .color-list-container ul li {
    display: inline-block;
    border: 1px solid #d6d4d4; }
    ul#crossselling_list_car .color-list-container ul li a {
      display: block;
      width: 23px;
      height: 23px;
      margin: 1px; }


ul#crossselling_list_car .product-container h5 {
  margin: 0;
  padding: 0;
  height: 1.5em;
  }
ul#crossselling_list_car .product-container h5 {
  height: auto;
}

ul#crossselling_list_car .product-image-container {
  text-align: center; }
  ul#crossselling_list_car .product-image-container img {
    margin: 0 auto; }
ul#crossselling_list_car .comments_note {
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  line-height: 17px; }
  ul#crossselling_list_car .comments_note .nb-comments {
    overflow: hidden;
    font-style: italic;
    display: inline-block; }
ul#crossselling_list_car .functional-buttons div a,
ul#crossselling_list_car .functional-buttons div label {
  font: 400 12px/17px "Open Sans", sans-serif;
  color: #777676;
  cursor: pointer;
  padding: 0 3px; }

ul#crossselling_list_car .functional-buttons div.wishlist a:before {
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 3px;
  padding: 0 3px; }
ul#crossselling_list_car .functional-buttons div.wishlist a.checked:before {
  content: "\f004"; }
@media (min-width: 992px) and (max-width: 1199px) {
  ul#crossselling_list_car .functional-buttons div.wishlist {
    border-right: 0; }
    ul#crossselling_list_car .functional-buttons div.wishlist a:before {
      display: none; } }
@media (min-width: 480px) and (max-width: 767px) {
  ul#crossselling_list_car .functional-buttons div.wishlist {
    border-right: 0; }
    ul#crossselling_list_car .functional-buttons div.wishlist a:before {
      display: none; } }
ul#crossselling_list_car .functional-buttons div.compare a:before {
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 3px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    ul#crossselling_list_car .functional-buttons div.compare a:before {
      display: none; } } 
  @media (min-width: 480px) and (max-width: 767px) {
    ul#crossselling_list_car .functional-buttons div.compare a:before {
      display: none; } }
ul#crossselling_list_car .functional-buttons div.compare a.checked:before {
  content: "\f068"; }

/*******************************************************
Product list(List) Styles 
********************************************************/
@media (max-width: 479px) {
  ul#crossselling_list_car > li .left-block {
    width: 100%; } }
ul#crossselling_list_car li .product-container {
  padding: 30px 0 5px;
  border: 1px solid #d6d4d4; }
ul#crossselling_list_car > li .product-image-container {
  position: relative;
  position: relative;
  background: white; }
  @media (max-width: 479px) {
    ul#crossselling_list_car > li .product-image-container {
      margin: 0 auto; } }
  ul#crossselling_list_car > li .product-image-container .content_price {
    display: none !important; }
ul#crossselling_list_car > li .product-flags {
  color: #333333;
  margin: 5px 0 10px 0; }
  ul#crossselling_list_car > li .product-flags .discount {
    color: #f13340; }
ul#crossselling_list_car > li h5 {
  padding-bottom: 8px; }

ul#crossselling_list_car > li .product-desc {
  margin-bottom: 15px;
  height: 1.3em;
  overflow: hidden; }
  ul#crossselling_list_car > li .product-desc span.grid-desc {
    display: none; 
  }
@media (max-width: 479px) {
  ul#crossselling_list_car > li .center-block {
    width: 100%; } }
ul#crossselling_list_car > li .center-block .comments_note {
  margin-bottom: 12px; }
  @media only screen and (min-width: 480px) {
    ul#crossselling_list_car > li .center-block .comments_note {
      text-align: left; } }
  ul#crossselling_list_car > li .center-block .comments_note .star_content {
    display: inline-block; }
@media (min-width: 992px) {
  ul#crossselling_list_car > li .right-block .right-block-content {
    margin: 0;
    border-left: 1px solid #d6d4d4;
    padding-left: 10px;
    padding-bottom: 16px; } }
@media (max-width: 991px) {
  ul#crossselling_list_car > li .right-block .right-block-content {
    padding-top: 20px; } }
@media (max-width: 479px) {
  ul#crossselling_list_car > li .right-block .right-block-content {
    padding-top: 5px; } }
ul#crossselling_list_car > li .right-block .right-block-content .content_price {
  padding-bottom: 0px; }
  @media (max-width: 991px) {
    ul#crossselling_list_car > li .right-block .right-block-content .content_price {
      padding-top: 13px;
      padding-bottom: 12px; } }
  @media (max-width: 479px) {
    ul#crossselling_list_car > li .right-block .right-block-content .content_price {
      padding-top: 0;
      width: 100%; } }
  ul#crossselling_list_car > li .right-block .right-block-content .content_price span {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 14px; }
    ul#crossselling_list_car > li .right-block .right-block-content .content_price span.old-price {
      margin-right: 8px; }
ul#crossselling_list_car > li .right-block .right-block-content .button-container {
  overflow: hidden; }
  @media (max-width: 479px) {
    ul#crossselling_list_car > li .right-block .right-block-content .button-container {
      width: 100%; } }
  @media (max-width: 991px) {
    ul#crossselling_list_car > li .right-block .right-block-content .button-container .wrap_lnk_view {
      display: inline-block; } }
  ul#crossselling_list_car > li .right-block .right-block-content .button-container .btn {
    margin-bottom: 10px;
    margin-right: 10px; }
    @media (min-width: 992px) {
      ul#crossselling_list_car > li .right-block .right-block-content .button-container .btn {
        float: left;
        clear: both; } }
@media (min-width: 992px) {
  ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons {
    overflow: hidden; } }
@media (max-width: 991px) {
  ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons {
    clear: both; }
    ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons > div {
      float: left;
      padding-top: 0 !important;
      padding-right: 20px; } }
@media (max-width: 479px) {
  ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons {
    float: none;
    display: inline-block; }
    ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons a i, ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons a:before, ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons label i, ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons label:before {
      display: none !important; } }
ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons a {
  cursor: pointer; }
ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons .wishlist {
  border: none; }
ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons .compare {
  padding-top: 10px; }
  ul#crossselling_list_car > li .right-block .right-block-content .functional-buttons .compare a:before {
    margin-right: 10px; }

@media (max-width: 479px) {
  ul#crossselling_list_car > li {
    text-align: center; } }

ul#crossselling_list_car .right-block {
	padding: 0 10px;
}
ul#crossselling_list_car .lnk_view {
	display: block;
	text-align: center;
}
/***** IE code *****/
l#crossselling_list_car .product-ref {
  padding-left: 14px;
  padding-bottom: 10px;
}
