.quickorderform_block img { margin: 10px 0 0 0}
.quickorderform_block p {
    padding-bottom:0;
    font-weight:bold;
    text-align: right
}
.quickorderform_block p.quickorder_image {
    padding-bottom:10px;
    text-align:center
}

.quick_order_content #quick_order_table_ps15
{
    border-collapse: inherit;
}

.quick_order_content #quick_order_table_ps15 thead th.ref
{
    width:80px;
}

.quick_order_content #quick_order_table_ps15 thead th.row_number
{
    width:26px;
}

.quick_order_content #quick_order_table_ps15 thead th.name
{
    padding-left:5px;
    width: 208px;
}

.quick_order_content #quick_order_table_ps15 thead th.decli
{
    padding-left:10px;
    width:112px;
}

.quick_order_content #quick_order_table_ps15 thead th.quantity
{
    padding-left:5px;
    width:58px;
}

.quick_order_content #quick_order_table_ps15 thead th.remove
{
    width:26px;
}

.quick_order_content #quick_order_table_ps15 tbody input,
.quick_order_content #quick_order_table_ps15 tbody select{
    text-align: center;
    height: 20px;
    font-size: 11px;
    border: solid 1px #b4b4b4;
}

.quick_order_content #quick_order_table_ps15 input.exclusive {
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.quick_order_content #quick_order_table_ps15 tfoot tr td {
    padding-top: 20px;
    padding-left: 10px;
}

.quick_order_content #quick_order_table_ps15 tr
{
    background-color: #f8f8f8;
    height: 60px;
}

.quick_order_content #quick_order_table_ps15 thead tr
{
    height: 30px;
}

.quick_order_content #quick_order_table_ps15 tr.alternate, .quick_order_content #quick_order_table_ps15 tr.last
{
    background-color:white;
}

.quick_order_content #quick_order_table_ps15 tr.separation
{
    height:1px;
}
.quick_order_content #quick_order_table_ps15 tr.separation td
{
    padding-top:0 !important;
}
.quick_order_content #quick_order_table_ps15 tr.separation td.middle_line
{
    border-bottom: 1px dotted #999;
}

.quick_order_content #quick_order_table_ps15 th
{
    text-align : center;
    padding: 6px 11px;
    font-size: 12px;
    color: white;
    text-shadow: 0 1px 0 black;
    text-transform: uppercase;
    background-color: #383838;
    font-weight: bold;
}

.quick_order_content #quick_order_table_ps15 th.ref
{
    width:100px;
}

.quick_order_content #quick_order_table_ps15 th.name
{
    padding-left:7px;
    width:227px;
}

.quick_order_content #quick_order_table_ps15 th.decli
{
    padding-left:9px;
    width:120px;
}

.quick_order_content #quick_order_table_ps15 th.quantity
{
    padding-left:7px;
    width:65px;
}

.quick_order_content #quick_order_table_ps15 th.remove
{
    width:30px;
}

.quick_order_content #quick_order_table_ps15 tr td.ref {
    text-align: center;
}

.quick_order_content #quick_order_table_ps15 tr.selected td
{
    border-bottom:solid 1px #383838;
    border-top:solid 1px #383838;
}

.quick_order_content #quick_order_table_ps15 tr.selected td.remove
{
    border-right:solid 1px #383838;
}

.quick_order_content #quick_order_table_ps15 tr td.row_number
{
    width:23px;
    font-size:12px;
    font-weight:bold;
    color:#92a5ab;
    text-align:center;
}
.quick_order_content #quick_order_table_ps15 tr.alternate td.row_number
{
    background-color:#FFF;
}
.quick_order_content #quick_order_table_ps15 tr td.row_number
{
    background-color:#f8f8f8;
}

.quick_order_content #quick_order_table_ps15 tr.selected td.row_number
{
    background-color:#383838;
    font-size:12px;
    font-weight:bold;
    color:white;
}

.quick_order_content #quick_order_table_ps15 tr td.ref .ref_container{float:left;}

.quick_order_content #quick_order_table_ps15 tr td.decli{
    text-align:center;
}

.quick_order_content #quick_order_table_ps15 tr td.decli select
{
    width: 100px;
}
.quick_order_content #quick_order_table_ps15 tr td.quantity input
{
    text-align: center;
    width:32px;
    height:25px;
    border:solid 1px #b4b4b4;
    margin-left:17px;
    float: left;
}

.quick_order_content #quick_order_table_ps15 tr td.quantity input:disabled
{
    background-color: #FFF;
    color: #6B7785;
}

.quick_order_content #quick_order_table_ps15 tr td.quantity p
{
    text-align:left;
    margin-top:4px;
    margin-bottom:4px;
    margin-left:13px;
}

.quick_order_content #quick_order_table_ps15 tr td.quantity
{
    padding-top:0;
}

.quick_order_content #quick_order_table_ps15 tr td.quantity .cart_quantity_button
{
    width: 20px;
    float: left;
    margin-left: 5px;
}

.quick_order_content #quick_order_table_ps15 tr td.quantity .cart_quantity_button .qtydown
{
    opacity: 1;
}

.quick_order_content #quick_order_table_ps15 tr td.quantity .min
{
    display: none
}

.quick_order_content .default_lines_container {
    display: none;
}

.quick_order_content #quick_order_table_ps15 tr td.name p
{
    font-size: 11px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 18px;
    padding: 0;
    color:#383838;
}

.quick_order_content #quick_order_table_ps15 tr td.name p.title
{
    overflow:hidden;
    position:relative;
}

.quick_order_content #quick_order_table_ps15 tr td.remove a
{
    display:block;
    width:12px;
    margin:0 auto;
    cursor:pointer;
}

.quick_order_content #quick_order_table_ps15 tr td.ref input.disabled
{
    background-color:#e0dfe3;
}

.quick_order_content #quick_order_table_ps15 tr td
{
    vertical-align:middle;
    padding-top:0;
}
.quick_order_content #quick_order_table_ps15 tr td.name{
    margin: 0;
}

.quick_order_content #quick_order_table_ps15 tr td.remove
{
    width: 20px;
}

.quick_order_content #quick_order_table_ps15 tr {padding-bottom:2px; border: none;}
.quick_order_content #quick_order_table_ps15 tr td.selector{

}

.quick_order_content #quick_order_table_ps15 .last
{
    height:48px;
}

.quick_order_content #quick_order_table_ps15 .last td.remove a {
    color:#556E73;
    font-size:10px;
    font-weight:bold;
    background:none;
    margin:0;
    display:inline;
}

.quick_order_content #quick_order_table_ps15 .last a.add_lines
{
    font-weight:bold;
    line-height: 18px;
    padding-left: 10px;
}
.quick_order_content #quick_order_table_ps15 .last a.add_lines img
{
    float: left;
}
.quick_order_content #quick_order_table_ps15 .last td.add_lines
{
    vertical-align:text-top;
}

/* PS16 */

.quick_order_content #quick_order_table_ps16 thead th.ref
{
    width:15%;
}

.quick_order_content #quick_order_table_ps16 thead th.row_number
{
    width:5%;
}

.quick_order_content #quick_order_table_ps16 thead th.name
{
    padding-left:1%;
    width: 39%;
}

.quick_order_content #quick_order_table_ps16 tr td.decli .selector, .quick_order_content #quick_order_table_ps16 tr td.decli span
{
    width: 100%!important;
    text-align:center
}

.quick_order_content #quick_order_table_ps16 thead th.decli
{
    padding-left:2%;
    width:21%;
}

.quick_order_content #quick_order_table_ps16 tr td.decli select
{
    width: 100%;
}

.quick_order_content #quick_order_table_ps16 thead th.quantity
{
    padding-left:1%;
    width:11%;
}

.quick_order_content #quick_order_table_ps16 thead th.remove
{
    width:5%;
}

.quick_order_content #quick_order_table_ps16 input,
.quick_order_content #quick_order_table_ps16 select{
    text-align: center;
}

.quick_order_content #quick_order_table_ps16 tr td.quantity .min
{
    display: none;
}

.quick_order_content #quick_order_table_ps16 tr td.quantity a
{
    float: left;
    margin-right: 3px;
}

.quick_order_content #quick_order_table_ps16 tr td.quantity a + a {
    margin-right: 0;
}

.quick_order_content #quick_order_table_ps16 tr td.quantity input
{
    height: 27px;
    line-height: 27px;
    padding: 0;
    text-align: center;
    width: 57px;
    margin-left: 0;
    margin-bottom: 3px;
}

.quick_order_content #quick_order_table_ps16 tr td.name p
{
    margin: 0;
}

.quick_order_content #quick_order_table_ps16 tr td.name p.title
{
    overflow:hidden;
    position:relative;
}