
				<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;border:none;padding:7px 0;"> </td>
				<td align="center" style="border:none;padding:7px 0;">
					<table class="table" style="width:100%;background-color:#fff;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333;border:none;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="border:none;padding:7px 0;">
		<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Congratulations!</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td class="box" style="background-color:#fbfbfb;border:1px solid #d6d4d4;padding:10px;">
		<span style="color:#777;">
			Your referred friend <span style="color:#333;"><strong>{sponsored_firstname} {sponsored_lastname}</strong></span> has placed his or her first order on <a href="{shop_url}" style="color:#337ff1;">{shop_name}</a>!<br /><br /> 
			We are pleased to offer you a voucher worth <span style="color:#333;"><strong>{discount_display} (voucher # {discount_name})</strong></span> that you can use on your next order.		</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td class="linkbelow" style="border:none;padding:7px 0;">
		<span>Best regards,</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333;border:none;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> powered by <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;border:none;padding:7px 0;"> </td>
			</tr></table>