.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 0; }

.stickUpHolder {
  padding: 0; }

@media only screen and (max-width: 1199px) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px; } }
#block_top_menu {
  padding-top: 12px; }
  @media (max-width: 1199px) {
    #block_top_menu {
  padding-top: 8px; } }
  @media (min-width: 767px) {
    #block_top_menu #block_top_wrap {
      background: #2b1406;
      display: block;
      margin: 0 0 0 -5000px;
      padding: 0;
      position: relative;
      width: 10000px;
      clear: both;
      left: 50%; }
      #block_top_menu #block_top_wrap #menu_indent {
        float: left;
        position: relative;
        width: 100%;
        padding-right: 97px; } }
@media (max-width: 767px) {
  #block_top_menu {
    padding-top: 5px;
  }
}
#menu_indent {
  width: 100%;
  float: left; }
.subCatMenu {
  position: absolute;
  z-index: 999;
  color: white;
  top: 90px;
  left: 585px;
  background: red;
}
.subCatMenu a {
  color: #fff;
  text-transform: uppercase;
}
