/*** ESSENTIAL STYLES ***/
.sf-contener {
  clear: both;
  float: left;
  width: 100%; }

.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; 
  line-height: 9px;}

.sf-menu {
  padding: 0;
  width: 100%; }
  @media (max-width: 767px) {
    .sf-menu {
      display: none;
      background: #222; } }

.sf-menu ul {
  top: -999em;
  background: #333333;
  position: absolute; }
  @media (max-width: 767px) {
    .sf-menu ul {
      position: relative; } }

.sf-menu ul li {
  width: 100%; }

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */ }

.sf-menu > li {
  display: inline-block;
   }
  @media (max-width: 767px) {
    .sf-menu > li {
      display: block;
      float: none;
      position: relative;
      border-right: none; }
      .sf-menu > li span {
        position: absolute;
        right: 6px;
        top: 31px;
        width: 30px;
        height: 30px;
        z-index: 2; }
        .sf-menu > li span:after {
          font-family: "FontAwesome";
          content: "\f067";
          font-size: 24px;
          color: #888; }
        .sf-menu > li span.active:after {
          content: "\f068"; } }
  .sf-menu > li:first-child {
  border-left: 1px solid #333333; }
    @media (max-width: 767px) {
      .sf-menu > li:first-child {
        border-left: 0; } }
  @media (max-width: 767px) {
    .sf-menu > li {
      border: none; } }
  .sf-menu > li > a {
    font: 500 12px/23px "Roboto", sans-serif;
    color: white;
    display: block;
    padding: 20px 15px 26px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 991px) and (min-width: 767px) {
      .sf-menu > li > a {
        font: 400 16px/21px "Roboto",sans-serif;
        padding: 20px 14px 26px;
        font-size: 10px;
         } 
       }
    @media (max-width: 1199px) {
      .sf-menu > li > a {
        font-size: 12px;
        padding: 5px 4px 5px; } }
    @media (max-width: 991px) {
      .sf-menu > li > a {
        font-size: 9px;
        padding: 2px 2px 3px;} }
    @media (max-width: 767px) {
      .sf-menu > li > a {
        font-size: 19px;
        padding: 20px 19px 26px; } }
    .sf-menu > li > a:after {
      position: absolute;
      top: -100%;
      left: 0;
      content: "";
      background: #333333;
      width: 100%;
      height: 100%;
      z-index: -1;
      -moz-transition: all 0.23s ease;
      -o-transition: all 0.23s ease;
      -webkit-transition: all 0.23s ease;
      transition: all 0.23s ease; }
      @media (max-width: 991px) {
        .sf-menu > li > a:after {
          display: none; } }
  .sf-menu > li.sfHover > a:after,
  .sf-menu > li > a:hover:after, .sf-menu > li.sfHoverForce > a:after {
    -moz-transition: all 0.23s ease;
    -o-transition: all 0.23s ease;
    -webkit-transition: all 0.23s ease;
    transition: all 0.23s ease;
    top: 0; }
  @media (max-width: 991px) {
    .sf-menu > li.sfHover > a,
    .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
      background: #333333; } }

.sf-menu li li li {
  padding-left: 10px;
  margin-left: -10px; }
  .sf-menu li li li:hover {
    color: #777777; }

.sf-menu li li li a {
  font: 700 12px/32px "Roboto", sans-serif;
  position: relative;
  color: #b38870;
  text-transform: uppercase; }
  @media (max-width: 991px) and (min-width: 767px) {
    .sf-menu li li li a {
      text-transform: none; } }
  @media (max-width: 767px) {
    .sf-menu li li li a {
      font-size: 13px;
      text-transform: uppercase; } }
  .sf-menu li li li a:hover {
    color: white; }

.sf-menu li ul {

  }
  @media (max-width: 767px) {
    .sf-menu li ul {
      top: 0; } }

.sf-menu li li ul {
visibility: hidden;
  -webkit-transition: visibility 0s linear 0.25s;
  -moz-transition: visibility 0s linear 0.25s;
  -ms-transition: visibility 0s linear 0.25s;
  -o-transition: visibility 0s linear 0.25s;
  transition: visibility 0s linear 0.25s;
  position: absolute;
  top: 0px;
  left: 360px;
  width: 500px;
  min-height: 200px;
  padding: 10px 15px;
  margin: 0;
  list-style: none;
  z-index: 10000;
  background: #1a1a1a;
  height: 100%;
}
@media (max-width:1199px) {
  .sf-menu li li ul {
    left: 358px;
  }
}
@media (max-width:991px) {
  .sf-menu li li ul {
    left: 360px;
  }
}
.sf-menu li ul.second-level li ul {
  left:260px;
}
.sf-menu li li:hover > ul {
    visibility: visible;
  }
.sf-menu li li li ul {
  padding: 0 0 0 20px; }

.sf-menu li li li ul {
  width: 220px; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  visibility: visible;
  }

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

.sf-menu > li > ul {
   display: none;
    padding: 10px 0;
    margin: 0;
  }
  .sf-menu > li > ul > li > a {
   text-transform: uppercase;
   font: 700 16px/21px "Roboto", sans-serif;
   color: white;
   padding: 5px 15px;
   width: 360px;
   display: inline-block;
  }
    .sf-menu li ul li.sfHover a {
      background: #1a1a1a;
    }
    @media (max-width: 991px) and (min-width: 767px) {
      .sf-menu > li > ul > li > a {
        font-size: 12px; } }
    @media (max-width: 767px) {
      .sf-menu > li > ul > li > a {
        line-height: 32px; } }
    .sf-menu > li > ul > li > a:hover {
      color: #b38870; }

.sf-menu > li > ul > li {
  display: block;
  position: static;
  padding: 5px 0;
}
  @media (max-width: 991px) and (min-width: 767px) {
    .sf-menu > li > ul {
      width: 942px;
      top: 26px;
    }
    .sf-menu ul.second-level {
      top: 26px;
    }
  }
    @media (min-width: 991px) and (max-width: 1199px) {
    .sf-menu > li > ul {
      width: 904px;
      top: 33px;
    }
    .sf-menu > li > ul > li {
      padding-left: 13px; 
    } 
  }
  @media (max-width: 767px) {
    .sf-menu > li > ul > li {
      width: 50%; } }
  @media (max-width: 479px) {
    .sf-menu > li > ul > li {
      width: 100%; } }
  @media (min-width: 768px) {
    .sf-menu ul.second-level {
      left:372px;
      width: 300px;
      padding-bottom: 0;
    }
    .sf-menu > li > ul > li.first-in-line-lg {
      clear: left; } 
.sf-menu > li > ul {
  left: -1px;
  position: absolute;
  width: 1170px;
  top: 26px;
  min-height: 200px; }
}
@media (min-width: 991px) and (max-width: 1199px){
  .sf-menu > li > ul {
    top: 33px;

  }
}
@media (min-width: 1199px){
  .sf-menu > li > ul {
    top: 69px;

  }
}
  @media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
      clear: left; } }

.sf-menu > li > ul > li.category-thumbnail {
  width: 100% !important;
  float: none;
  clear: both;
  overflow: hidden;
  padding-right: 0;
  display: none; }
  .sf-menu > li > ul > li.category-thumbnail > div {
    float: left;
    margin-left: 30px;
    width: 30.8%; }
    @media (max-width: 1199px) {
      .sf-menu > li > ul > li.category-thumbnail > div {
        margin-left: 25px; } }
    @media (max-width: 991px) {
      .sf-menu > li > ul > li.category-thumbnail > div {
        margin-left: 20px; } }
    .sf-menu > li > ul > li.category-thumbnail > div img {
      width: 100%;
      display: block; }
    .sf-menu > li > ul > li.category-thumbnail > div:first-child {
      margin-left: 0; }
    @media (max-width: 767px) {
      .sf-menu > li > ul > li.category-thumbnail > div {
        display: none; } }

.cat-title {
  display: none; }
  @media (max-width: 767px) {
    .cat-title {
      display: block;
      font: 500 18px/22px "Roboto", sans-serif;
      text-transform: uppercase;
      color: white;
      display: block;
      padding: 25px 20px 23px;
      background: #111;
      position: relative; }
      .cat-title:hover, .cat-title.active {
        background: #333;
        color: white; }
      .cat-title:after {
        display: block;
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        right: 102px;
        top: 26px;
        font-size: 23px; }
      .cat-title.active:after {
        content: "\f068"; } }

.sf-menu li.sf-search {
  border: none; }
  .sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 30px;
    line-height: 30px;
    background: white;
    margin: 13px 10px 0 0;
    font-size: 13px;
    color: #9c9b9b;
    border: 1px solid #d6d4d4; }

@media (min-width: 991px) {
  }