@import "_theme_variables";

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
	border-top: 1px solid $base-border-color;
	line-height: 19px;
	margin: 0 0 26px 0;
	.content_scene_cat_bg {
		padding:20px 0 0 0;
	}
	span.category-name {
		font: 600 25px/30px $font-custom;
		margin-bottom: 12px;
		display:inline-block;
		@media  (max-width: $screen-md-max) { // max 1199px
			font-size: 25px;
			line-height: 30px;
		}
	}
	p {
		margin-bottom: 0;
	}
	a {
		&.lnk_more {
			font-weight:bold;	
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.content_scene {
		color: $base-body-color;
		.cat_desc {
			padding-top: 20px;
			a {
				color: $link-color;
				&:hover {
					color: $link-hover-color;	
				}
			}
		}
	}
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */

#subcategories {
	border-top: 1px solid $base-border-color;
	padding: 15px 0 0 0;
	p.subcategory-heading {
		font-weight: bold;
		color: $base-text-color;
		margin: 0 0 15px 0;
	}
	ul {
		margin: 0 0 0 -20px;
		li {
			float: left;
			width: 128px;
			margin: 0 0 13px 20px;
			text-align: center;
			height: 202px;
			.subcategory-image {
				padding: 0 0 8px 0;
				a {
					display: block;
					@include product-image;
					img {
						max-width: 100%;
						vertical-align: top;
						height:auto;
					}
				}
			}
			h5 {
				margin:0;	
			}
			.subcategory-name {
				font: 600 15px/18px $font-custom;
				color: $base-heading-color;
				text-transform: uppercase;
				&:hover {
					text-decoration: underline;	
				}
			}
			.cat_desc { 
				display: none;
			}	
			&:hover {
				.subcategory-image {
					a {
						border-width: 5px;
						padding: 5px;
					}
				}	
			}
		}
	}
}