@import "_theme_variables";

/*******************************************************
Product list Styles
********************************************************/

ul.product_list {
	.availability {
		span {
			display: inline-block;
			color: $light-text-color;
			font-weight: bold;
			padding: 3px 8px 4px 8px;
			margin-bottom: 20px;
			&.available-now {
				background: #46a74e;
				border: 1px solid #36943e;
			}
			&.out-of-stock{
				background: #ff7430;
				border: 1px solid #ea5e1a;
			}
		}
	}
	.color-list-container {
		margin-bottom: 12px;
		ul {
			li {
				display: inline-block;
				border: 1px solid $base-border-color;
				a {
					display: block;
					width: 23px;
					height: 23px;
					margin: 1px;
				}	
			}
		}
	}
	.product-container {
		.product-desc {
			font: 400 12px/18px $font-theme;
			color: $base-body-color;
		}
		h5 {
			padding: 0;
			margin-top: 12px;
			margin-bottom: 11px;
			a {
				span.list-name {
					display:none;
				}
			}
		}
	}
	.product-image-container {
		text-align: center;
		img {
			margin: 0 auto;
		}	
		.quick-view {
			font: 700 13px/16px $font-family;
			color: #777676;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -21px 0 0 -53px;
			padding: 13px 0;
			background: rgba(255,255,255,0.82);
			width: 107px;
			text-align: center;
			@include box-shadow(rgba(black, 0.16) 0 2px 8px);
			@media (max-width: $screen-md-max) {
    			display: none;	
    		}
			@media (min-width: $screen-lg) { // min 1200px
				display: none;
			}
			@media (max-width: $screen-xs-max) { // max 767px
				display: none;
			}
		}
	}
	.comments_note {
		text-align: center;
		overflow: hidden;
		padding-bottom:10px;
		line-height:17px;
		.nb-comments {
			overflow: hidden;
			font-style: italic;
			display:inline-block;
		}
	}
	.functional-buttons {
		div {
			a,
			label {
				font: 400 12px/17px $font-custom;
				color: #777676;
				cursor: pointer;
				padding: 0 3px;
				&:hover { 
					color: #000;
				}	
			}
			&.wishlist { 
				a:before {
					display: inline-block;
					font-family: $font-icon;
					margin-right: 3px;
					padding: 0 3px;
				}
				a.checked:before {
					content: "\f004";  
				}
				@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
					border-right: 0;
					a:before {
						display:none;
					}
				}
				@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
					border-right: 0;
					a:before {
						display:none;
					}
				}
			}
			&.compare {
				a {
					&:before {
						display: inline-block;
						font-family: $font-icon;
						margin-right: 3px;
						@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
							display: none;
						}
	
						@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
							display: none;
						}
					}
					&.checked {
						&:before {
							content: "\f068";
						}
					}	
				}
			}
		}
	}
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/

ul.product_list.grid {
	> li {
		padding-bottom: 20px;
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			width: 50%;
			float: left;
		}
		@media (max-width: $screen-xs){
			text-align: center;
		}
		.product-container {
			position: relative;
			padding: 0;
			.product-image-container {
				overflow: hidden;
				position: relative;
				padding: 0 0 10px;
				@media (max-width: $screen-xs-max) { // max 767px
					margin-left: auto;
					margin-right: auto;	
				}
				.quick-view {
					@media (min-width: $screen-md-max) { 
	 					top: -50%;
						display: block;
						@include transition (all 0.3s ease);
					}
				}
				.product_img_link {
					display:block;
				 }
			}
			.comments_note {
				text-align: left;
				@media (max-width: $screen-xs){
					text-align: center;
				}
				.star_content {
					display:inline-block;
					margin: 0 0 0 0;
				}
			}
			.product-desc {
				margin: 0;
				padding-bottom: 10px;
			}
			.content_price {
				padding-bottom: 15px;
				line-height: 21px;
			}
			.old-price, 
			.price, 
			.price-percent-reduction {
				display: inline-block;
			}
			.product-flags {
				display: none;
			}
			.old-price {
				margin: 0 5px 0 7px;
			}
			.button-container {
				padding-bottom: 10px;
				@include transition (all 0.2s ease);
				.btn.ajax_add_to_cart_button,
				span.btn,
				.lnk_view { 
					margin: 0 0 12px;
				}
				@media (max-width: $screen-md-max) {
 					top: 0;
				}
			}
			.functional-buttons {
				border-top: 1px solid $base-border-color;
				padding: 11px 5px 5px;
				@media (max-width: $screen-md-max) and (min-width: $screen-xs-max) {
					text-align: center;
				}
				div {
					width: 50%;
					float: left;
					padding: 3px 0 4px 0;
				}
			}
			&:hover .quick-view  {
				top: 50%;
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.hovered {
				.product-container {
					.product-image-container {
						.quick-view {
							display: block;
						}
					}
				}
			}
		}
		@media (min-width: $screen-md) { // min 991px
			&.first-in-line {
				clear: left;
			}
		}
		@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
			&.first-item-of-tablet-line {
				clear: left;
			}
		}
	}
}

#blockpack {
	ul.product_list.grid > li.first-item-of-tablet-line {
		@media (max-width: $screen-xs-max) and (min-width: $screen-xs) { 
			clear: none;
		}
	}
	.product-container {
		@media (max-width: $screen-xs-max) and (min-width: $screen-xs) { 
 				min-height: 600px;
		}
	}
}
.bx-viewport {
	.btn.ajax_add_to_cart_button, 
	.btn.ajax_add_to_cart_product_button {
		 padding: 11px 7px 13px;
		 font: 400 15px/17px "Roboto",sans-serif;
		 display: block;
	}
}

#index {
	ul.product_list.grid {
		.product-container {
			border: none;
			.content_price  {
				padding-bottom: 0;
			}
			@media (min-width: $screen-md-max) {
				.wrap-button-container {
					z-index: 555;
					overflow: hidden;
					position: absolute;
					visibility: hidden;
					width: 105%;
					left: -15px;
				}
				.button-container {
					padding: 0 15px;
					position: relative;
					width: 100%;
					top: -100%;
					left: 0;
					background: $light-background;
					padding-bottom: 10px;
					.btn.ajax_add_to_cart_button,
					span.btn,
					.lnk_view { 
						margin: 0 0 12px;
					}
					@media (max-width: $screen-md-max) {
						top: 0;
					}
				}
				&:hover .button-container {
					top: 0;
				}
				&:hover .wrap-button-container{
					visibility: visible;
				}
			}
		}
	}
}

/*******************************************************
Product list(List) Styles 
********************************************************/

ul.product_list.list {
	> li {
		.left-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}
		}
		.product-container {
			border-top: 1px solid $base-border-color;
			padding: 30px 0 30px;	
		}
		.product-image-container {
			position: relative;
			@include product-image;
			@media (max-width: $screen-xs - 1) { // max 479px
				margin: 0 auto;
			}
			.product_img_link {
					
			}
			.content_price {
				display: none !important;	
			}
		}
		.product-flags {
			color: $base-text-color;
			margin: 5px 0 10px 0;
			.discount {
				color: #f13340;	
			}
		}
		h5 {
			padding-bottom: 8px;
			a {
				span.grid-name {
					display:none;	
				}
			}
		}
		.product-desc {
			margin-bottom: 15px;
			span.grid-desc {
				display:none;	
			}
		}
		.center-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}	
			.comments_note {
				margin-bottom: 12px;
				@media only screen and (min-width:$screen-xs) {
					text-align:left;
				}
				.star_content {
					display:inline-block;	
				}
			}
		}
		.right-block {
			.right-block-content {
				@media (min-width: $screen-md) { // min 991px
					margin: 0;
					border-left: 1px solid $base-border-color;
					padding-left: 10px;
					padding-bottom: 16px;
				}

				@media (max-width: $screen-sm-max) { // max 991px
					padding-top: 20px;
				}

				@media (max-width: $screen-xs - 1) { // max 479px
					padding-top: 5px;	
				}
				.content_price {
					padding-bottom: 0px;
					@media (max-width: $screen-sm-max) { // max 991px
						padding-top: 13px;
						padding-bottom: 12px;	
					}

					@media (max-width: $screen-xs - 1) { // max 479px
						padding-top: 0;
						width: 100%;
					}
					span{
						display: inline-block;
						margin-top: -4px;
						margin-bottom: 14px;
						&.old-price {
							margin-right: 8px;
						}
					}
				}
				.button-container {
					overflow: hidden;
					@media (max-width: $screen-xs - 1) { // max 479px
						width: 100%;
					}
					.btn.ajax_add_to_cart_button, 
					.btn.ajax_add_to_cart_product_button {
					} 
					.wrap_lnk_view {
						@media (max-width: $screen-sm-max) {
							display: inline-block;
						}
					}
					.btn {
						margin-bottom: 10px;
						margin-right: 10px;
						@media (min-width: $screen-md) { // min 991px
						float: left;
						clear: both;	
						}
					}
				}
				.functional-buttons {
					@media (min-width: $screen-md) { // min 991px
						overflow: hidden;
					}
					@media (max-width: $screen-sm-max) { // max 991px
						clear: both;
						> div {
							float: left;
							padding-top: 0 !important;
							padding-right: 20px;
						}
					}
					@media (max-width: $screen-xs - 1) { // max 479px
						float: none;
						display: inline-block;
						a, label {
							i, &:before {
								display: none !important;
							}
						}
					}
					a {
						cursor: pointer;
					}
					.wishlist {
						border:none;		
					}
					.compare {
						padding-top: 10px;
						a {
							&:before {
								margin-right:10px;	
							}
						}
					}
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&:hover {
				.product-image-container {	
					.quick-view {
						display: block;
					}
				}
			}
		}
		@media (max-width: $screen-xs - 1) {	// max 479px
			text-align: center;	
		}
	}
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/

#index {
	ul.product_list.tab-pane {
		> li {
			padding-bottom: 5px;
			margin-bottom: 25px;
			.availability {
				display: none;
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}
/***** IE code *****/

.ie8 {
	.quick-view	 {
		background: #fff;
		border: 1px solid $base-border-color;	
	}
}