
			<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bravo !</span>
		</font>
	</td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>Une nouvelle commande a été passée sur votre boutique {shop_name} par ce client : {firstname} {lastname} ({email})</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" colspan="3" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Détails de la commande						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Commande :</strong></span> {order_name} Date {date}<br /><br /><span style="color:#333;"><strong>Paiement :</strong></span> {payment}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			</font><table class="table table-recap" bgcolor="#ffffff" style="width:100%;border-collapse:collapse;"><!-- Title --><thead><tr><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Référence</th>
						<th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Produit</th>
						<th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Prix unitaire</th>
						<th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Quantité</th>
						<th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Prix total</th>
					</tr></thead><tbody><tr><td colspan="5" style="border:1px solid #D6D4D4;color:#777;padding:7px 0;">
							  {items}
						</td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Produits</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" align="right" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_products}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Réductions</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_discounts}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Paquet cadeau</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_wrapping}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Livraison</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_shipping}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>TVA totale</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											{total_tax_paid}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" style="color:#333;padding:0;">
										<font size="2" face="Open-sans, sans-serif" color="#555454">
											<strong>Total payé</strong>
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
						<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
							<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
									<td align="right" class="total_amount" style="color:#333;padding:0;font-size:21px;font-weight:500;font-family:'Open-sans', sans-serif;">
										<font size="4" face="Open-sans, sans-serif" color="#555454">
											{total_paid}
										</font>
									</td>
									<td width="10" style="color:#333;padding:0;"> </td>
								</tr></table></td>
					</tr></tbody></table>
	</td>
</tr><tr><td class="box" colspan="3" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Transporteur :						</p>
						<span style="color:#777;">
							{carrier}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Adresse de livraison									</p>
									<span style="color:#777;">
										{delivery_block_html}
									</span>
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
				<td width="20" class="space_address" style="padding:7px 0;"> </td>
				<td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Adresse de facturation									</p>
									<span style="color:#777;">
										{invoice_block_html}
									</span>
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" colspan="3" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Message du client :						</p>
						<span style="color:#777;">
							{message}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> réalisé avec <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>