.width3 {width:100%!important;}
	.width3 select {width:245px;}
	.width3 label {width:300px;font-weight:normal;margin-right:10px;text-align:left;border-bottom:1px dotted #DFD5C3!important;}
	.width3 .margin-form label {width:auto!important;border:0!important;margin:0;}
	.width3 .margin-form p {clear:both;}
.info_screen {
background: #F4E6C9;
border-bottom:1px solid #CCCCCC;
clear:left;
color:#cc0000;
margin:0;
padding:0;
display:none;width:100%;font-size:1.4em!important;font-weight:bold!important;position:fixed;z-index:200000;bottom:0;height:40px;line-height:40px;text-align:center;}
* html .info_screen {position:absolute;top:expression(body.scrollTop + document.body.clientHeight - 40 + "px");}

.slideshowSort {background:#eee;border:1px solid #ccc;padding:10px;margin:15px 0;position:relative;}
.column_action, .menu_action {position:absolute;top:5px;right:5px;}
.add_element select { width:200px;margin:10px 0;}
.tabContent {position:relative;}
.dragColumn, .dragWrap {cursor:move;}
.dynamicTextarea {background:#f3f3f3;border:1px solid #ccc;padding:5px;}
.hint {float:none!important;width:auto!important;}