H2.csoc { margin: 0; }

H3.csoc { height: 50px; margin: 0; }

H3.csoc a { text-decoration: none; }

p.price_container { font-size: 12px; }

#csoc_list {  }
#csoc_list .jcarousel-co-container { border: 1px solid #dedfe0; }
#csoc_list ul li a.ajax_add_to_cart_button { margin: 10px auto; }

#csoc_list ul li { list-style: none; float: left; text-align: center; width: 50px; }

.jcarousel-co-prev-horizontal, .jcarousel-co-next-horizontal{
	position: absolute;
	top: 0;
	cursor: pointer;
	background: url('../images/22_btn_prev.png') center center no-repeat;
	text-indent:-3000px;
	display:block;
	width:45px;
	height:180px;
	float:left;
	margin-top:0;
}
.jcarousel-co-prev-horizontal {
	left: 0;
}
.jcarousel-co-next-horizontal{
	position: absolute;
	background-image: url('../images/22_btn_next.png');
	top: 0;
	right: 0px;
}
.jcarousel-co-container-horizontal {
	padding: 0 45px;
}
.jcarousel-co-container-vertical {
	padding: 0 45px;
}
.jcarousel-co-clip-horizontal {
}
.jcarousel-co-prev-disabled, .jcarousel-co-next-disabled {
	opacity: 0.2;
	-moz-opacity: 0.2;
	-ms-filter: "alpha(opacity=20)";
	filter: alpha(opacity = 20);
}