
		<table style="font-family:Verdana, sans-serif;font-size:11px;color:#374953;width:550px;"><tr><td colspan="2" align="left">
				<a href="{shop_url}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" /></a>
			</td>
		</tr><tr><td colspan="2"> </td></tr><tr><td colspan="2" align="left" style="background-color:#DB3484;color:#FFF;font-size:12px;font-weight:bold;padding:.5em 1em;">Vos bons de réductions</td>
		</tr><tr><td colspan="2"> </td></tr><tr><td colspan="2" align="left">Bonjour <strong style="color:#DB3484;">{firstname} {lastname}</strong>,<br /><br />
			Grâce à votre commande {order_name} du {date}, vous avez obtenu les bons de réductions suivants :</td>
		</tr><tr><td colspan="2"> </td></tr><tr><td colspan="2" align="left">Ils sont utilisables lors de vos prochaines commandes sur notre site.</td>
		</tr><tr><td colspan="2"> </td></tr><tr><td colspan="2" align="center" style="font-size:10px;border-top:1px solid #D9DADE;">
				<a href="{shop_url}" style="color:#DB3484;font-weight:bold;text-decoration:none;">{shop_name}</a> réalisé avec <a href="http://www.prestashop.com/" style="text-decoration:none;color:#374953;">PrestaShop™</a>
			</td>
		</tr></table>