
				<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span class="title" style="font-weight:500;font-size:18px;text-transform:uppercase;line-height:23px;">Hi {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Thank you for shopping with {shop_name}!</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Order details						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Order:</strong></span> {order_name} Placed on {date}<br /><br /><span style="color:#333;"><strong>Payment:</strong></span> {payment}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			</font><table class="table table-recap" bgcolor="#ffffff" style="width:100%;border-collapse:collapse;"><!-- Title --><tr><th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">Reference</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">Product</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" width="17%">Unit price</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">Quantity</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" width="17%">Total price</th>
				</tr><tr><td colspan="5" style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;">
						  {products} 
					</td>
				</tr><tr><td colspan="5" style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;">
						  {discounts}
					</td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Products</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" align="right" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_products}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Discounts</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_discounts}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Gift-wrapping</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_wrapping}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Shipping</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_shipping}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Total Tax paid</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_tax_paid}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Total paid</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="4" face="Open-sans, sans-serif" color="#555454">
										{total_paid}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr></table></td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Shipping						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Carrier:</strong></span> {carrier}<br /><br /><span style="color:#333;"><strong>Payment:</strong></span> {payment}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Delivery address									</p>
									<span style="color:#777;">
										{delivery_block_html}
									</span>
									
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
				<td width="20" class="space_address" style="padding:7px 0;"> </td>
				<td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Billing address									</p>
									<span style="color:#777;">
										{invoice_block_html}
									</span>
									
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				You can review your order and download your invoice from the <a href="{history_url}" style="color:#337ff1;">"Order history"</a> section of your customer account by clicking <a href="{my_account_url}" style="color:#337ff1;">"My account"</a> on our shop.			</span>
		</font>
	</td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				If you have a guest account, you can follow your order via the <a href="{guest_tracking_url}?id_order={order_name}" style="color:#337ff1;">"Guest Tracking"</a> section on our shop.			</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="linkbelow" style="padding:7px 0px;text-align:center;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;">DECO'RELIEF SAS - 5 allée de Bonvaux 21240 TALANT (France)<br />Tél. +33(0)380564238 - Fax +33(0)380581799 - contact@deco-relief.fr - www.deco-relief.fr</span></td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> powered by <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>