
				<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<span class="title" style="font-weight:500;font-size:18px;text-transform:uppercase;line-height:23px;">Hi {firstname} {lastname},</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<span>{reply}</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<span>
			Please do not reply directly to this email, we will not receive it.			<br />
			In order to reply, please use the following link: <a href="{link}" style="color:#337ff1;">{link}</a>		</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="linkbelow" style="padding:7px 0px;text-align:center;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;">DECO'RELIEF SAS - 5 allée de Bonvaux 21240 TALANT (France)<br />Tél. +33(0)380564238 - Fax +33(0)380581799 - contact@deco-relief.fr - www.deco-relief.fr</span></td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> powered by <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>