@import "../../_theme_variables";

#currencies-block-top {
	float: right;
	position: relative;
	z-index: 999;
	margin: 39px 0 0 12px;
	// max 479px
	@media (max-width: $screen-md-max) {
 		margin-top: 25px;
	}
	@media (max-width: $screen-xs-max) {
		float: left;
		margin-right: 10px;
	}					
	@media (max-width: $screen-xs){
		margin-right: 3px;
	}								
	span.firstWord {
		display: none;
	}
	div.current {
		cursor: pointer;
		font: 700 12px/16px $font-theme;
		text-transform: uppercase;
		color: $light-text-color;
		padding: 5px;
		@include transition (all 0.2s ease);
		strong {
			@include transition (all 0.2s ease);
			color: $light-text-color;
		}
		@media (max-width: $screen-xs){
			font-size: 11px;
			font-weight: 400;
			padding: 3px;
		}
		&:hover, 
		&.active, 
		&:hover strong, 
		&.active strong, 
		&:hover:after,
		&.active:after {
			color: #dcab8f;
		}
		&:after {
			@include transition (all 0.2s ease);
			content: "\f107";
			font-family: $font-icon;
			font-size: 13px;
			line-height: 13px;
			color: $light-text-color;
			vertical-align: 0;
			padding-left: 7px;
			// max 479px
		}
		&.active {
			&:after {
				content: "\f106";
			}
		}
		.cur-label {
			// max 479px
			@media (max-width: $screen-xs - 1) {
				display: none;
			}
		}
	}
	ul {
		display: none;
		position: absolute;
		top: 33px;
		right: 0;
		width: 157px;
		background: #111;
		z-index: 2;
		@media (max-width: $screen-xs-max) {
 			left: 0;
		}
		li {
			color: $light-text-color;
			line-height: 35px;
			font-size: 13px;
			a,
			> span {
				padding: 0 10px 0 12px;
				display: block;
				color: $light-text-color;
			}
			&.selected, &:hover a {
				background: #333;
			}
		}
	}
}