
			<table style="font-family:Verdana, sans-serif;font-size:11px;color:#374953;width:550px;"><tr><td align="left" colspan="2">
				<a href="{shop_url}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" /></a>
			</td>
		</tr><tr><td colspan="2"> </td></tr><tr><td align="left" colspan="2">Hello <strong style="color:#DB3484;">{firstname} {lastname}</strong>,<br />
			Through your order {order_name} in date of {date}, you've obtained the following vouchers :</td>
		</tr><tr><td colspan="2"> </td></tr><tr><td colspan="2"> </td></tr><tr><td align="left" colspan="2">You can use them on your coming orders on our site.</td>
		</tr><tr><td colspan="2"> </td></tr><tr><td colspan="2" align="center" style="font-size:10px;border-top:1px solid #D9DADE;">
				<a href="{shop_url}" style="color:#DB3484;font-weight:bold;text-decoration:none;">{shop_name}</a> realized with <a href="http://www.prestashop.com/" style="text-decoration:none;color:#374953;">PrestaShop™</a>
			</td>
		</tr></table>