/* Module Prestashop FooterCustom
 * Copyright Prestacrea
 * Author: Prestacrea
 * Website: http://www.prestacrea.com */

#footer {padding:0;border:none}

/* Conteneur */
#footercustom {clear:both;width:100%;font-family:Helvetica;text-align:left}

/* Newsletter */
#footercustom #footernewsletter_container {background:#2b1406;border-radius:5px;width:100%;height:35px;margin-bottom:10px}
#footercustom #footernewsletter {width:980px;height:35px;margin:0 auto}
#footercustom #footernewsletter p {line-height:17px;color:#EEE;text-shadow:1px 1px 0 #000;text-align:center;font-size:11px;font-weight:bold;height:28px;padding:0px 15px 7px}
#footercustom #footernewsletter span {color:#FFF;text-shadow:1px 1px 0 #000;text-align:left;font-size:11px;font-weight:bold;padding:0 10px}
#footercustom #footernewsletter span.footerwarning {color:#DA0F00} 
#footercustom #footernewsletter span.footersuccess {color:#008011} 
#footercustom #footernewsletter input.footerinput {border:1px solid #FFF;width:150px;height:16px;line-height:16px;color:#888;font-size:12px;margin-left:10px;padding:0 2px}
#footercustom #footernewsletter select.footerselect {border:1px solid #FFF;width:120px;height:18px;color:#888;font-size:11px}
#footercustom #footernewsletter input.button {background-color: #f7941e;display:inline;padding:0;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}

/* Bloc image et AddThis */
#footercustom #footerimage_container {border-right:1px solid #000;float:left;width:234px;height:100px;margin:10px 0 0 20px}
#footercustom #footerimage {margin-top:5px}
#footercustom #footerimage img {width:198px}
#footercustom #footeraddthis {margin-top:15px;margin-left:5px}
#2b1406
/* Blocs liens */
#footercustom #footerlinks_container {background:#2b1406;border-radius:5px;width:100%;height:130px}
#footercustom #footerlinks {width:100%;height:130px;margin:0 auto;background:#2b1406;border-radius:5px;}
#footercustom #footerlinks_ul {border-left:1px solid #555;float:right;height:100px;margin-top:10px}
#footercustom #footerlinks span {color:#EEE;text-shadow:1px 1px 0 #000;text-align:left;font-size:14px;font-weight:bold}
#footercustom #footerlinks ul {list-style-type:none;border-left:1px solid #555;border-right:1px solid #000;float:left;width:180px;height:100px;padding:0 30px}
#footercustom #footerlinks ul.footerinformations {border-left:none}
#footercustom #footerlinks ul.footercompany {border-right:none}
#footercustom #footerlinks li {background:url('../img/bullet.gif') no-repeat 5px;line-height:15px;text-align:left;padding-left:25px}
#footercustom #footerlinks li.footerinformations {background:url('../img/icon_infos.png') no-repeat;height:25px;line-height:30px;padding-left:35px;margin-bottom:10px}
#footercustom #footerlinks li.footerproducts {background:url('../img/icon_products.png') no-repeat;height:25px;line-height:30px;padding-left:35px;margin-bottom:10px}
#footercustom #footerlinks li.footercompany {background:url('../img/icon_company.png') no-repeat;height:25px;line-height:30px;padding-left:35px;margin-bottom:10px}
#footercustom #footerlinks a {color:#BBB;text-decoration:none;text-shadow:1px 1px 0 #000;font-size:11px;font-weight:normal}
#footercustom #footerlinks a:hover {color:#888}

/* Editeur */
#footercustom #footereditor_container {background:#EEE;width:100%}
#footercustom #footereditor {padding:10px;width:960px;margin:0 auto}
#footercustom #footereditor span {color:#888;font-size:11px}
#footercustom #footereditor a {color:#888;text-decoration:none;font-size:11px}
#footercustom #footereditor a:hover {color:#BBB}