#currencies-block-top {
  float: right;
  position: relative;
  z-index: 999;
  margin: 39px 0 0 12px; }
  @media (max-width: 1199px) {
    #currencies-block-top {
      margin-top: 25px; } }
  @media (max-width: 767px) {
    #currencies-block-top {
      float: left;
      margin-right: 10px; } }
  @media (max-width: 480px) {
    #currencies-block-top {
      margin-right: 3px; } }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top div.current {
    cursor: pointer;
    font: 700 12px/16px "Roboto", sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 5px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    #currencies-block-top div.current strong {
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      color: white; }
    @media (max-width: 480px) {
      #currencies-block-top div.current {
        font-size: 11px;
        font-weight: 400;
        padding: 3px; } }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active, #currencies-block-top div.current:hover strong, #currencies-block-top div.current.active strong, #currencies-block-top div.current:hover:after, #currencies-block-top div.current.active:after {
      color: #dcab8f; }
    #currencies-block-top div.current:after {
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      content: "\f107";
      font-family: "FontAwesome";
      font-size: 13px;
      line-height: 13px;
      color: white;
      vertical-align: 0;
      padding-left: 7px; }
    #currencies-block-top div.current.active:after {
      content: "\f106"; }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul {
    display: none;
    position: absolute;
    top: 33px;
    right: 0;
    width: 157px;
    background: #111;
    z-index: 2; }
    @media (max-width: 767px) {
      #currencies-block-top ul {
        left: 0; } }
    #currencies-block-top ul li {
      color: white;
      line-height: 35px;
      font-size: 13px; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: white; }
      #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a {
        background: #333; }
