
				<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;border:none;padding:7px 0;"> </td>
				<td align="center" style="border:none;padding:7px 0;">
					<table class="table" style="width:100%;background-color:#fff;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333;border:none;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="border:none;padding:7px 0;">
		<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Congratulations!</span>
	</td>
</tr><tr><td class="linkbelow" style="border:none;padding:7px 0;">
		<span>A new order was placed on {shop_name} by the following customer: {firstname} {lastname} ({email})</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td class="box" colspan="3" style="background-color:#fbfbfb;border:1px solid #d6d4d4;padding:10px;">
		<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">
			Order details		</p>
		<span style="color:#777;">
			<span style="color:#333;"><strong>Order:</strong></span> {order_name} Placed on {date}<br /><br /><span style="color:#333;"><strong>Payment:</strong></span> {payment}<br /><br /><span style="color:#333;"><strong>Order Status:</strong></span> {order_status}
		</span>
	</td>
</tr><tr><td style="border:none;padding:7px 0;">
		<table class="table table-recap" bgcolor="#ffffff" style="width:100%;background-color:#fff;"><!-- Title --><thead><tr><th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Reference</th>
					<th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Product</th>
					<th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Unit price</th>
					<th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Quantity</th>
					<th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Total price</th>
				</tr></thead><tbody><tr><td colspan="5" style="color:#777;padding:10px;border:1px solid #DDD;">
						{items}
					</td>
				</tr><tr class="conf_body"><td bgcolor="#fbfbfb" align="right" colspan="4" style="color:#333;padding:10px;border:1px solid #DDD;"><strong>Products</strong></td>
					<td bgcolor="#fbfbfb" align="right" style="color:#333;padding:10px;border:1px solid #DDD;">{total_products}</td>
				</tr><tr class="conf_body"><td bgcolor="#fbfbfb" align="right" colspan="4" style="color:#333;padding:10px;border:1px solid #DDD;"><strong>Discounts</strong></td>
					<td bgcolor="#fbfbfb" align="right" style="color:#333;padding:10px;border:1px solid #DDD;">{total_discounts}</td>
				</tr><tr class="conf_body"><td bgcolor="#fbfbfb" align="right" colspan="4" style="color:#333;padding:10px;border:1px solid #DDD;"><strong>Gift-wrapping</strong></td>
					<td bgcolor="#fbfbfb" align="right" style="color:#333;padding:10px;border:1px solid #DDD;">{total_wrapping}</td>
				</tr><tr class="conf_body"><td bgcolor="#fbfbfb" align="right" colspan="4" style="color:#333;padding:10px;border:1px solid #DDD;"><strong>Shipping</strong></td>
					<td bgcolor="#fbfbfb" align="right" style="color:#333;padding:10px;border:1px solid #DDD;">{total_shipping}</td>
				</tr><tr class="conf_body"><td bgcolor="#fbfbfb" align="right" colspan="4" style="color:#333;padding:10px;border:1px solid #DDD;"><strong>Total Tax paid</strong></td>
					<td bgcolor="#fbfbfb" align="right" style="color:#333;padding:10px;border:1px solid #DDD;">{total_tax_paid}</td>
				</tr><tr class="conf_body"><td bgcolor="#fbfbfb" align="right" colspan="4" class="total" style="color:#555454;padding:10px;border:1px solid #DDD;font-size:18px;font-weight:500;font-family:'Open-sans', sans-serif;"><strong>Total paid</strong></td>
					<td bgcolor="#fbfbfb" align="right" class="total_amount" style="color:#333;padding:10px;border:1px solid #DDD;font-size:21px;font-weight:500;font-family:'Open-sans', sans-serif;">{total_paid}</td>
				</tr></tbody></table></td>
</tr><tr><td class="box" colspan="3" style="background-color:#fbfbfb;border:1px solid #d6d4d4;padding:10px;">
		<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">
			Carrier:		</p>
		<span style="color:#777;">
			{carrier}
		</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td style="border:none;padding:7px 0;">
		<table class="table" style="width:100%;background-color:#fff;"><tr><td class="box address" width="310" style="background-color:#fbfbfb;border:1px solid #d6d4d4;padding:10px;">
					<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">
						Delivery address					</p>
					<span style="color:#777;">
						{delivery_block_html}
					</span>
				</td>
				<td width="20" class="space_address" style="border:none;padding:7px 0;"> </td>
				<td class="box address" width="310" style="background-color:#fbfbfb;border:1px solid #d6d4d4;padding:10px;">
					<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">
						Billing address					</p>
					<span style="color:#777;">
						{invoice_block_html}
					</span>
				</td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td class="box" colspan="3" style="background-color:#fbfbfb;border:1px solid #d6d4d4;padding:10px;">
		<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">
			Customer message:		</p>
		<span style="color:#777;">
			{message}
		</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333;border:none;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> powered by <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;border:none;padding:7px 0;"> </td>
			</tr></table>