{capture name=path}{l s='Quick Order Form' mod='quickorderform'}{/capture}
<!-- MODULE QuickOrderForm 15 -->
<div class="quick_order_content table-responsive">
	<div class="default_lines_container">
		<table>
			<tr class="item">
				<td class="row_number">0</td>
				<td class="ref"><input value="" type="text" class="form-control grey" maxlength="10" size="10"
									   title="{l s='Please enter reference or name' mod='quickorderform'}"></td>
				<td class="name"><p class="title"></p><input type="hidden" class="id_product"/></td>
				<td class="decli text-center selector"><select {if $ps == "ps15"}disabled=""{/if} class="form-control no-print"></select></td>
				<td class="quantity text-center {$ps}">
					<input type="text" size="4" autocomplete="off" class="form-control grey"/>
					{if $quantity_buttons == 1}
						{if $ps == 'ps16'}
							<div class="clearfix">
								<a rel="nofollow" class="qtydown btn btn-default button-minus" href="#"
								   title="{l s='Add' mod='quickorderform'}">
									<span><i class="icon-minus"></i></span>
								</a>
								<a rel="nofollow" class="qtyup btn btn-default button-plus" href="#" title="{l s='Add' mod='quickorderform'}">
									<span><i class="icon-plus"></i></span>
								</a>
							</div>
						{else}
							<div class="cart_quantity_button">
								<a rel="nofollow" class="qtyup" href="#"><img src="{$img_dir}icon/quantity_up.gif"
																			  alt="{l s='Add' mod='quickorderform'}" width="14"
																			  height="9"></a><br/>
								<a class="qtydown" href="#"><img src="{$img_dir}icon/quantity_down_off.gif" width="14" height="9"
																 alt="{l s='Subtract' mod='quickorderform'}"></a>
							</div>
						{/if}
					{/if}
					<span class="min"></span>
				</td>
				<td class="remove">
					<a class="del_button" title="{l s='Remove this product' mod='quickorderform'}">
						{if $ps == 'ps16'}
							<i class="icon-trash"></i>
						{else}
							<img src="{$img_dir}icon/delete.gif" alt="{l s='Remove' mod='quickorderform'}"/>
						{/if}
					</a>
				</td>
			</tr>
		</table>
	</div>
	<table id="quick_order_table_{$ps}" class="table table-hover table-striped">
		<thead>
		<tr>
			<th class="row_number first_item"></th>
			<th class="ref item">{l s='Ref.' mod='quickorderform'}</th>
			<th class="name item">{l s='Name' mod='quickorderform'}</th>
			<th class="decli item">{l s='Combinaison' mod='quickorderform'}</th>
			<th class="quantity item">{l s='Quantity' mod='quickorderform'}</th>
			<th class="remove last_item"></th>
		</tr>
		</thead>
		<tbody id="quick_order_table">
		{for $indice = 0 to $qof_nblines}
		<tr class="{if $indice == 0}first_item{/if} item">
			<td class="row_number">{$indice+1}</td>
			<td class="ref text-center"><input type="text" class="form-control grey" value="" maxlength="10" size="10"
											   title="{l s='Please enter reference or name' mod='quickorderform'}"></td>
			<td class="name"><p class="title"></p><input type="hidden" class="id_product"/></td>
			<td class="decli selector"><select {if $ps == "ps15"}disabled=""{/if} class="form-control
		no-print"></select></td>

			<td class="quantity text-center">
				<input type="text" size="4" autocomplete="off" class="form-control grey">
				{if $quantity_buttons == 1}
					{if $ps == 'ps16'}
						<div class="clearfix">
							<a rel="nofollow" class="qtydown btn btn-default button-minus" href="#" title="{l s='Add' mod='quickorderform'}">
								<span><i class="icon-minus"></i></span>
							</a>
							<a rel="nofollow" class="qtyup btn btn-default button-plus" href="#" title="{l s='Add' mod='quickorderform'}">
								<span><i class="icon-plus"></i></span>
							</a>
						</div>
					{else}
						<div class="cart_quantity_button">
							<a rel="nofollow" class="qtyup" href="#"><img src="{$img_dir}icon/quantity_up.gif"
																		  alt="{l s='Add' mod='quickorderform'}" width="14"
																		  height="9"></a><br/>
							<a class="qtydown" href="#"><img src="{$img_dir}icon/quantity_down_off.gif" width="14" height="9"
															 alt="{l s='Subtract' mod='quickorderform'}"></a>
						</div>
					{/if}
				{/if}
				<span class="min"></span>
			</td>
			<td class="remove">
				<a class="del_button" title="{l s='Remove this product' mod='quickorderform'}">
					{if $ps == 'ps16'}
						<i class="icon-trash"></i>
					{else}
						<img src="{$img_dir}icon/delete.gif" alt="{l s='Remove' mod='quickorderform'}"/>
					{/if}
				</a>
			</td>
		</tr>
		{/for}
		</tbody>
		<tfoot>
		<tr class="last">
			<td colspan="3" class="add_lines">
				{if $ps == "ps16"}
					<span class="btn btn-default button exclusive-medium" title="{l s='Add 5 new lines' mod='quickorderform'}">
				<span>{l s='Add 5 new lines' mod='quickorderform'}</span>
			</span>
				{else}
					<a href="#" title="{l s='Add 5 new lines' mod='quickorderform'}">
						<img src="{$img_dir}icon/add.gif" alt="{l s='Add' mod='quickorderform'}"/>
						{l s='Add 5 new lines' mod='quickorderform'}
					</a>
				{/if}
			</td>
			<td colspan="3" class="text-center">
				{if $ps == "ps16"}
					<p id="add_to_cart_fix" class="button btn btn-default button-medium">
						<span>{l s='Add to cart' mod='quickorderform'}<i class="icon-chevron-right right"></i></span>
					</p>
				{else}
					<p id="add_to_cart_fix" class="buttons_bottom_block">
						<input type="submit" name="Submit" value="{l s='Order quicker' mod='quickorderform'}" class="exclusive"/>
					</p>
				{/if}

			</td>
		</tr>
		</tfoot>
	</table>
	<img id="bigpic" style="display:none;visibility:hidden"/>
</div>


<script>
var empty = {$qof_empty}
var nblines = {$qof_nblines}
// <![CDATA[
{literal}
var selectedRow = null;
$(document).ready(function () {
	$(".quick_order_content .ref input")
			.autocomplete(
			'{/literal}{if $search_ssl == 1}{$link->getPageLink('search.php', true)}{else}{$link->getPageLink('search.php')}{/if}{literal}', {
				minChars: 3,
				max: 10,
				width: 500,
				cacheLength: 1,
				selectFirst: false,
				scroll: false,
				dataType: "json",
				formatItem: function (data, i, max, value, term) {
					return value;
				},
				parse: function (data) {
					var mytab = new Array();
					for (var i = 0; i < data.length; i++)
						mytab[mytab.length] = { data: data[i], value: data[i].cname + ' > ' + data[i].pname };
					return mytab;
				},
				extraParams: {
					ajaxSearch: 1,
					id_lang: {/literal}{$cookie->id_lang}{literal}
				}
			}
	)
			.result(function (event, data, formatted) {
				$(this).val(data.preference);
				$(this).parent().parent().find('.name .id_product').val(data.id_product);
				if (data.pname.length > 42)
					$(this).parent().parent().find('.name .title').html(data.pname.slice(0, 42 - 3) + "...");
				else
					$(this).parent().parent().find('.name .title').html(data.pname);
				lesdeclis(data.id_product, $(this));
			});

	$(".quick_order_content .add_lines a").click(function (e) {
		e.preventDefault();
		AddNewLines(5);
		return false;
	});

	$(".quick_order_content .add_lines .exclusive-medium").click(function (e) {
		e.preventDefault();
		AddNewLines(5);
		return false;
	});

	$(".quick_order_content .quantity .qtyup").click(function (e) {
		e.preventDefault();
		qtyUp($(this));
		return false;
	});

	$(".quick_order_content .quantity .qtydown").click(function (e) {
		e.preventDefault();
		qtyDown($(this));
		return false;
	});

	$(".quick_order_content .decli select").change(function () {
		majMin($(this));
	});

	$(".quick_order_content tbody tr").click(function (e) {
		e.preventDefault();
		ClickToSelect($(this));
	});

	$(".quick_order_content .del_button").click(function (e) {
		e.preventDefault();
		emptyLine($(this).parent().parent());
	});

	$('body .quick_order_content p#add_to_cart_fix').unbind('click').click(function () {
		$('.quick_order_content tbody tr').each(function () {
			if ($(this).find('.quantity input').val() > 0) {
				var currentRow = $(this);
				ajaxCart.add(currentRow.find('.name .id_product').val(), currentRow.find('.decli select').val(), false, this, currentRow.find('.quantity input').val(), null);
				if (empty == 1)
					emptyLine(currentRow);
			}
		});
		return false;
	});

	BindRowSelection($('.quick_order_content tbody tr td'));
	BindFocusToSelectRow($('.quick_order_content input,.quick_order_content select'));

	var firstRow = $($('.quick_order_content tr').get(1));
	firstRow.addClass("selected");
	InitRow(firstRow);
	selectedRow = firstRow;
});

function InitRow(row) {
	selectedRow = row;
}

function lesdeclis(lidproduct, maligne) {
	$.ajax({
		url: "{/literal}{$link->getModuleLink('quickorderform', 'actions', ['process' => 'getDecli'], true)}{literal}",
		type: "POST",
		data: {
			'id_product': lidproduct
		},
		success: function (response) {
			var qty_min_default = 0;
			maligne.parent().parent().find('.decli select').empty();
			mesreponses = response.split('##');
			if (mesreponses[0] == 'ProdSansDecli') {
				maligne.parent().parent().find('.decli select').hide();
				maligne.parent().parent().find('.decli .selector').hide();
				maligne.parent().parent().find('.decli span').hide();
				qty_min_default = mesreponses[1];
				if (maligne.parent().parent().find('.name .title').html().length > 20) {
					maligne.parent().parent().find('.decli').hide();
					maligne.parent().parent().find('.name').attr('colspan', 2);
				}
				else {
					if (maligne.parent().parent().find('.name').attr('colspan') == 2) {
						maligne.parent().parent().find('.decli').css('display', 'table-cell');
						maligne.parent().parent().find('.name').removeAttr('colspan');
					}
				}
			}
			else {
				for (i = 0; i < mesreponses.length; i++) {
					mareponse = mesreponses[i].split('#');
					if (mareponse[3] == 1) {
						maligne.parent().parent().find('.decli select').append('<option value="' + mareponse[0] + '" selected="selected">' + mareponse[1] + '</option>');
						maligne.parent().parent().find('.decli span').text(mareponse[1]);
						qty_min_default = mareponse[2];
					}
					else {
						maligne.parent().parent().find('.decli select').append('<option value="' + mareponse[0] + '">' + mareponse[1] + '</option>');
					}
				}
				maligne.parent().parent().find('.decli').show();
				maligne.parent().parent().find('.decli select').show();
				maligne.parent().parent().find('.decli .selector').show();
				maligne.parent().parent().find('.decli span').show();
				maligne.parent().parent().find('.decli select').css('display', 'inline-block');
				maligne.parent().parent().find('.name').removeAttr('colspan');
			}

			maligne.parent().parent().find('.decli select').removeAttr('disabled');
			maligne.parent().parent().find('.quantity input').val(qty_min_default);
			maligne.parent().parent().find('.quantity .min').html(qty_min_default);
		},
		error: function (XMLHttpRequest, textStatus, errorThrown) {
			alert("TECHNICAL ERROR: unable to refresh the cart.\n\nDetails:\nError thrown: " + XMLHttpRequest + "\n" + 'Text status: ' + textStatus);
		}
	});
}

function emptyLine(linetoempty) {
	linetoempty.find('.name .title').html('');
	linetoempty.find('.name').removeAttr('colspan');
	linetoempty.find('.ref input').val('');
	linetoempty.find('.decli').show();
	linetoempty.find('.decli select').show();
	linetoempty.find('.decli .selector').show();
	linetoempty.find('.decli span').show();
	linetoempty.find('.decli select').empty();
	linetoempty.find('.decli span').empty();
	linetoempty.find('.decli select').css('display', 'inline-block');
	linetoempty.find('.quantity .min').empty();
	linetoempty.find('.quantity input').val('');
}

function qtyDown(myObject) {
	var laquantiteencours = myObject.parent().parent().find('input').val();
	if (parseInt(laquantiteencours) > 0) {
		var laquantiteminimalencours = myObject.parent().parent().find('.min').html();
		if (parseInt(laquantiteencours) - 1 >= parseInt(laquantiteminimalencours))
			myObject.parent().parent().find('input').val(parseInt(laquantiteencours) - 1);
	}
}

function qtyUp(myObject) {
	var laquantiteencours = myObject.parent().parent().find('input').val();
	if (parseInt(laquantiteencours) > 0)
		myObject.parent().parent().find('input').val(parseInt(laquantiteencours) + 1);
	return false;
}

function majMin(myObject) {
	var idprod = myObject.parent().parent().find('.name .id_product').val();
	var idprodattrib = myObject.find('option:selected').val();
	$.ajax({
		type: "POST",
		url: "{/literal}{$link->getModuleLink('quickorderform', 'actions', ['process' => 'getMin'], true)}{literal}",
		data: {
			'id_product': idprod,
			'id_product_attribute': idprodattrib
		},
		success: function (response) {
			myObject.parent().parent().find('.quantity .min').html(response);
			myObject.parent().parent().find('.quantity input').val(response);
		},
		error: function (XMLHttpRequest, textStatus, errorThrown) {
			alert("TECHNICAL ERROR: unable to retrieve minimal quantity");
		}
	});
}

function AddNewLines(lineNumberToAdd) {
	var lastLine = $('#quick_order_table tr:last');
	for (var i = 0; i < lineNumberToAdd; i++) {
		var newRow = $('.default_lines_container tr').clone();
		lastLine.after(newRow);
		BindRowSelection(newRow.find('td'));
		BindAutocompletionFunction(newRow.find('.ref input'));
		BindDeleteFunction(newRow.find('.del_button'));
		BindQtyUp(newRow.find('.quantity a.qtyup'));
		BindQtyDown(newRow.find('.quantity a.qtydown'));
		BindMajMin(newRow.find('.decli select'));
		BindClickToSelect(newRow);
	}
	var intRowCount = 1;
	$('#quick_order_table tr').each(function () {
		var currentRow = $(this);
		currentRow.find('.row_number').html(intRowCount);
		currentRow.removeClass('alternate');
		if (intRowCount % 2 == 0) {
			currentRow.addClass('alternate');
		}
		intRowCount++;
	});
	$('.quick_order_content tbody tr.first_item').removeClass('first_item');
	$('.quick_order_content tbody tr.last_item').removeClass('last_item');
	$('.quick_order_content tbody tr:first').addClass('first_item');
	$('.quick_order_content tbody tr:last').addClass('last_item');
}

function BindMajMin(myObject) {
	$(myObject).bind("change", function (e) {
		majMin($(this));
	});
}

function BindQtyUp(myObject) {
	$(myObject).bind("click", function (e) {
		e.preventDefault();
		qtyUp($(this));
	});
}

function BindQtyDown(myObject) {
	$(myObject).bind("click", function (e) {
		e.preventDefault();
		qtyDown($(this));
	});
}

function BindDeleteFunction(myObject) {
	$(myObject).bind("click", function (e) {
		e.preventDefault();
		emptyLine(myObject.parent().parent());
	});
}

function BindFocusToSelectRow(jQueryObject) {
	jQueryObject.bind('focus change', function () {
		var newRow = $(this).parents('tr');
		if (newRow.attr('class').indexOf('selected') != -1) {
			return;
		}
		if ((!newRow.attr('class')) || (newRow.attr('class').indexOf('selected') == -1)) {
			newRow.addClass('selected');
			selectedRow.removeClass('selected');
			InitRow(newRow);
		}
	});
}

function BindClickToSelect(jQueryObject) {
	$(jQueryObject).bind("click", function (e) {
		e.preventDefault();
		ClickToSelect($(this))
	});
}

function ClickToSelect(jQueryObject) {
	jQueryObject.click(function (e) {
		e.preventDefault();
		$(this).addClass('selected');
	});
}

function BindRowSelection(jQueryObject) {
	jQueryObject.click(function () {
		var newRow = $(this).parents('tr');
		if ((!newRow.attr('class')) || (newRow.attr('class').indexOf('selected') == -1)) {
			newRow.addClass('selected');
			var ref = '';
			var numberOfCars = 0;
			selectedRow.find('.ref input').each(function () {
				numberOfCars += $(this).val().length;
				ref += $(this).val();
			});
			selectedRow.removeClass('selected');
			InitRow(newRow);
		}
	});
}

function BindAutocompletionFunction(jQueryObject) {
	jQueryObject.bind("focus change", function (event) {
		jQueryObject
				.autocomplete(
				'{/literal}{if $search_ssl == 1}{$link->getPageLink('search.php', true)}{else}{$link->getPageLink('search.php')}{/if}{literal}', {
					minChars: 3,
					max: 10,
					width: 500,
					selectFirst: false,
					cacheLength: 1,
					scroll: false,
					dataType: "json",
					formatItem: function (data, i, max, value, term) {
						return value;
					},
					parse: function (data) {
						var mytab = new Array();
						for (var i = 0; i < data.length; i++)
							mytab[mytab.length] = { data: data[i], value: data[i].cname + ' > ' + data[i].pname };
						return mytab;
					},
					extraParams: {
						ajaxSearch: 1,
						id_lang: {/literal}{$cookie->id_lang}{literal}
					}
				}
		)
				.result(function (event, data, formatted) {
					$(this).val(data.preference);
					$(this).parent().parent().find('.name .id_product').val(data.id_product);
					if (data.pname.length > 42)
						$(this).parent().parent().find('.name .title').html(data.pname.slice(0, 42 - 3) + "...");
					else
						$(this).parent().parent().find('.name .title').html(data.pname);
					lesdeclis(data.id_product, $(this));
				});
	});
}
{/literal}
// ]]>
</script>
<!-- /MODULE QuickOrderForm 15 -->
