{capture name=path}<a href="flashSale.php">{l s='Flash sales' mod='vente_flash'}</a> {$navigationPipe|escape:html:'UTF-8'}{/capture}

<h3>{l s='This flash sale is already finished.' mod='vente_flash'}</h3>