
		<table style="font-family:Verdana, sans-serif;font-size:11px;color:#374953;width:550px;"><tr><td>
				{message}
			</td>
		</tr><tr><td> </td></tr><tr><td align="center" style="font-size:10px;border-top:1px solid #D9DADE;">
				powered by <a href="http://www.prestashop.com/" style="text-decoration:none;color:#374953;">PrestaShop™</a>
			</td>
		</tr></table>