<table style="font-family:Verdana,sans-serif; font-size:11px; color:#374953; width: 550px;">
  <tr>
    <td align="left"><a href="{shop_url}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" /></a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left">Hola <strong style="color:#374953;">{firstname} {lastname}</strong>,</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" style="background-color:#374953; color:#FFF; font-size: 12px; font-weight:bold; padding: 0.5em 1em;">Tu pedido es el n&uacute;mero #{id_order}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left"> Tu pedido #{id_order} ha sido recibido correctamente, y ser&aacute; enviado en cuanto recibamos el pago. </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left"> Por favor, recuerda que has seleccionado citan que será enviado a: <br />
      <br />
      <strong>{quote_owner}</strong> <br />
      <br />
{quote_details} <br />
<br />
{quote_address} <br />
      <br />
      Total Pedido:  {total_paid} </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left"> Puedes revisar tu pedido y descargar la factura aqu&iacute;: <a href="{shop_url}history.php" style="color:#374953; font-weight:bold; text-decoration:none;">&quot;Historial de Pedidos&quot;</a> dentro de tu cuenta <a href="{shop_url}my-account.php" style="color:#374953; font-weight:bold; text-decoration:none;">&quot;Entrar en Mi Cuenta&quot;</a> de nuestro sitio web. </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center" style="font-size:10px; border-top: 1px solid #D9DADE;"><a href="{shop_url}" style="color:#374953; font-weight:bold; text-decoration:none;">{shop_name}</a> desarrollado por <a href="http://www.prestashop.com/" style="text-decoration:none; color:#374953;">PrestaShop&trade;</a></td>
  </tr>
</table>
