<table style="font-family:Verdana,sans-serif; font-size:11px; color:#374953; width: 550px;">
  <tr>
    <td align="left"><a href="{shop_url}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" ></a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left">Hi <strong style="color:#374953;">{firstname} {lastname}</strong>,</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" style="background-color:#374953; color:#FFF; font-size: 12px; font-weight:bold; padding: 0.5em 1em;">Your order #{id_order} history</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left"> Your order has been placed successfully, and will be shipped as soon as payment is received. </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left"> Please note that you have selected the quote and this one will be sent to : <br />
      <br />
      <strong>{quote_owner}</strong> <br />
      <br />
{quote_details} <br />
<br />
{quote_address} <br />
<br />
Order total amount is {total_paid} </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left"> You can review this order and download your invoice from the <a href="{shop_url}history.php" style="color:#374953; font-weight:bold; text-decoration:none;">"Order history"</a> section of your account by clicking <a href="{shop_url}my-account.php" style="color:#374953; font-weight:bold; text-decoration:none;">"My account"</a> on our Website. </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center" style="font-size:10px; border-top: 1px solid #D9DADE;"><a href="{shop_url}" style="color:#374953; font-weight:bold; text-decoration:none;">{shop_name}</a> powered with <a href="http://www.prestashop.com/" style="text-decoration:none; color:#374953;">PrestaShop™</a></td>
  </tr>
</table>
