
						<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span class="title" style="font-weight:500;font-size:18px;text-transform:uppercase;line-height:23px;">Bonjour {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Merci d'avoir effectué vos achats sur {shop_name}!</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Détails de la commande						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Commande :</strong></span> {order_name} Date {date}<br /><br /><span style="color:#333;"><strong>Paiement :</strong></span> {payment}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			</font><table class="table table-recap" bgcolor="#ffffff" style="width:100%;border-collapse:collapse;"><!-- Title --><tr><th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">Référence</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">Produit</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" width="17%">Prix unitaire</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">Quantité</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" width="17%">Prix total</th>
				</tr><tr><td colspan="5" style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;">
						  {products} 
					</td>
				</tr><tr><td colspan="5" style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;">
						  {discounts}
					</td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Produits</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" align="right" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_products}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Réductions</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_discounts}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Paquet cadeau</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_wrapping}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Livraison</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_shipping}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>TVA totale</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_tax_paid}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Total payé</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="4" face="Open-sans, sans-serif" color="#555454">
										{total_paid}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr></table></td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Livraison						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Transporteur :</strong></span> {carrier}<br /><br /><span style="color:#333;"><strong>Paiement :</strong></span> {payment}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Adresse de livraison									</p>
									<span style="color:#777;">
										{delivery_block_html}
									</span>
									
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
				<td width="20" class="space_address" style="padding:7px 0;"> </td>
				<td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Adresse de facturation									</p>
									<span style="color:#777;">
										{invoice_block_html}
									</span>
									
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				Vous pouvez accéder à tout moment au suivi de votre commande et télécharger votre facture dans <a href="{history_url}" style="color:#337ff1;">"Historique des commandes"</a> de la rubrique <a href="{my_account_url}" style="color:#337ff1;">"Mon compte"</a> sur notre site.			</span>
		</font>
	</td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				Si vous avez un compte invité, vous pouvez suivre votre commande dans la section <a href="{guest_tracking_url}?id_order={order_name}" style="color:#337ff1;">"Suivi invité"</a> de notre site.			</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="linkbelow" style="padding:7px 0px;text-align:center;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;">DECO'RELIEF SAS - 5 allée de Bonvaux 21240 TALANT (France)<br />Tél. +33(0)380564238 - Fax +33(0)380581799 - contact@deco-relief.fr - www.deco-relief.fr</span></td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> réalisé avec <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>