@import "../../../_theme_variables";

.stickUpTop {
	position:relative;
	width:100%;
	left:0;
	top:0;
}
.stickUpHolder {
	padding:0;
}
@media only screen and (max-width:$screen-md-max){
	.isStuck .container {
		padding-left:15px;
		padding-right:15px;	
	}
}

#block_top_menu {
	padding-top: 48px;
	@media (max-width: $screen-md-max) {
 		padding-top: 33px;
	}
	@media (min-width: $screen-xs-max) {
		#block_top_wrap  {
			background: $black-background;
			display: block;
		    left: 50%;
		    margin: 0 0 0 -5000px;
		    padding: 0;
		    position: relative;
		    width: 10000px;
		    clear: both;
		    #menu_indent {
		    	width: 100%;
				padding-right: 97px;
				float: left;
				position: relative;
			}
		}
	}
}
#menu_indent {
	width: 100%;
	float: left;
}