@import "../../../_theme_variables";

/*** ESSENTIAL STYLES ***/
.sf-contener {
	clear: both;
	float: left;
	width: 100%;
}
.sf-right {}
.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	padding: 0;
	width: 100%;
	@media (max-width: $screen-xs-max) { // max 767px
		display: none;
		background: #222;
	}
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	background: $dark-background;
	@media (max-width: $screen-xs-max) { // max 767px
		position: relative;
	}
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu > li {
	float: left;
	border-right: 1px solid $dark-border-color;
	@media (max-width: $screen-xs-max) { // max 767px
		float: none;
		position: relative;
		border-right: none;
		span {
			position: absolute;
			right: 6px;
			top: 31px;
			width: 30px;
			height: 30px;
			z-index: 2;
			&:after {
				font-family: $font-icon;
				content: "\f067";
				font-size: 24px;
				color: #888;
			}
			&.active {
				&:after {
					content: "\f068";	
				}
			}
		}
	}
	&:first-child {
		border-left: 1px solid $dark-border-color;
		@media (max-width: $screen-xs-max) { 
			border-left: 0;
		}
	}
	@media (max-width: $screen-xs-max) {
		border: none;
	}
	> a {
		font: 500 19px/24px $font-theme;
		color: $light-text-color;
		display: block;
		padding: 20px 19px 26px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		text-transform: uppercase;
		@include transition (all 0.2s ease);
		@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
		   	font: 400 16px/21px "Roboto",sans-serif;
   			padding: 20px 14px 26px;
		}
		@media (max-width: $screen-md-max) {
			font-size: 17px;
			padding: 22px 17px 24px;
		}
		@media (max-width: $screen-sm-max) {
 			font-size: 14px;
    		padding: 23px 10px 26px;
		}
		@media (max-width: $screen-xs-max) { 
			font-size: 19px;
			padding: 20px 19px 26px;
		}
		&:after {
			position: absolute;
			top: -100%;
			left: 0;
			content: "";
			background: $dark-background;
			width: 100%;
			height: 100%;
			z-index: -1;
			@include transition (all 0.23s ease);
			@media (max-width: $screen-sm-max) {
				display: none;
			}
		}
	}
	&.sfHover > a:after,
	> a:hover:after,
	&.sfHoverForce > a:after {
		@include transition (all 0.23s ease);
		top: 0;
	}
	&.sfHover > a,
	> a:hover,
	&.sfHoverForce > a {
		@media (max-width: $screen-sm-max) {
			background: $dark-background;
		}
	}
}
.sf-menu li li li {
	padding-left: 10px;
	margin-left: -10px;
	&:hover {
		color: $link-color; 
	}
}
.sf-menu li li li a {
	font: 700 12px/32px $font-theme;
	position: relative;
	color: $custom-text-color;
	text-transform: uppercase;
	@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
		text-transform: none;
	}
	@media (max-width: $screen-xs-max) { 
		font-size: 13px;
		text-transform: uppercase;
	}
	&:hover {
		color: $light-text-color; 
	}
}
.sf-menu li ul {
	display: none;
	left: 0;
	top: 70px; /* match top ul list item height */
	z-index: 99;
	padding: 12px 0 18px 0;
	@include box-shadow(rgba(black, 0.20) 0 0px 8px);
	@media (max-width: $screen-xs-max) { // max 767px
		top: 0;
	}
}
.sf-menu li li ul {
	position: static;
	display: block !important;
	opacity: 1 !important;
	background: none;
	@include box-shadow(rgba(black, 0) 0 0 0);
}
.sf-menu li li li ul {
	padding: 0 0 0 20px;
}
.sf-menu li li li ul {
	width: 220px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 200px; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 200px; /* match ul width */
	top: 0;
}
.sf-menu > li > ul {
	padding: 26px 5px 31px;
	width: 99.8%;
	overflow: hidden;
	> li {
		> a {
			text-transform: uppercase;
			font: 700 16px/21px $font-theme;
			color: $light-text-color;
			padding-right: 10px;
			@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
				font-size: 12px;
			}
			@media (max-width: $screen-xs-max) { 
				line-height: 32px;
			}
			&:hover {
				color: $custom-text-color;
			}
		}
	}
}
.sf-menu > li > ul > li {
	float: left;
	width: 20%;
	padding: 0 0 0 20px;
	position: relative;
	@media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
		padding-left: 13px;
	}
	@media (max-width: $screen-xs-max) { // max 767px
		width: 50%;
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		width: 100%;
	}
	@media (min-width: $screen-sm) { // min 768px
		&.first-in-line-lg {
			clear: left;
		}
	}
	@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
		&.first-in-line-xs {
			clear: left;
		}
	}
}
.sf-menu > li > ul > li.category-thumbnail {
	width: 100% !important;
	float: none;
	clear: both;
	overflow: hidden;
	padding-right: 0;
	> div {
		float: left;
		margin-left: 30px;
		width: 30.8%;
		@media (max-width: $screen-md-max) {
 			margin-left: 25px;
		}
		@media (max-width: $screen-sm-max) {
			margin-left: 20px;
		}
		img {
			width: 100%;
			display: block;
		}
		&:first-child {
			margin-left: 0;
		}
		@media (max-width: $screen-xs-max) { 
			display: none;
		}
	}
}
.cat-title {
	display: none;
	@media (max-width: $screen-xs-max) { // max 767px
		display: block;
		font: 500 18px/22px $font-theme;
		text-transform: uppercase;
		color: $light-text-color;
		display: block;
		padding: 25px 20px 23px;
		background: #111;
		position: relative;
		&:hover,
		&.active {
			background: #333;
			color: $light-text-color;
		}
		&:after {
			display: block;
			font-family: $font-icon;
			content: "\f067";
			position: absolute;
			right: 102px;
			top: 26px;
			font-size: 23px;
		}
		&.active:after{
			content: "\f068";
		}
	}
}

.sf-menu {
	li.sf-search{
		border: none;
		input{
			display: inline;
			padding: 0 13px;
			height: 30px;
			line-height: 30px;
			background: $input-bg;
			margin: 13px 10px 0 0;
			font-size: 13px;
			color: $input-color;
			border: 1px solid $input-border;
		}
	}
}