<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="box">
			<p class="payment_module">
				<a href="{$this_path_ssl}payment.php" title="{l s='Send a quote' mod='quote'}" class="quote">
					{l s='Send the Quote' mod='quote'}
				</a>
			</p>
		</div>
	</div>
</div>